
.block-choice-mini {

	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1010;
	transform: translate(110px, 25px);

	&.is-fixed {
		position: fixed;
		top: 0;
	}

	&__shoe {
		display: block;
		float: left;
		width: 90px;
		margin: 5px 30px 0 0;
		
		opacity: 0.5;
		transition: opacity 0.2s linear;

		&:nth-child(2) {
			margin-top: 0;
			width: 100px;
		}

		img {
			display: block;
			width: 100%;
		}
		.label {
			display: none;
		}

		&.selected,
		&:hover {
			opacity: 1;
		}
	}

	&__features {
		float: left;
		clear: both;
		margin-top: 20px;
		margin-left: -10px;
		overflow: hidden;
	}
	&__feature {
		font-size: 20px;
		font-family: $titleFont;
		text-transform: uppercase;

		display: block;
		float: left;
		position: relative;
		overflow: hidden;
		max-width: 0;
		
		&:nth-child(2) {
			margin-left: 124px;
		}
		
		&:nth-child(3) {
			margin-left: 248px;
		}
		
		&:nth-child(4) {
			margin-left: 372px;
		}

		a {
			display: block;
			margin-right: 20px;
			padding-left: 12px;
		}

		&.selected {
			
			max-width: 500px;

			&:before {
				content:"";
				display: block;
				position: absolute;
				left: 1px;
				top: 6px;
				width: 4px;
				height: 4px;
				transform: rotate(45deg);
			}
		}
	}


	&:hover {
		.block-choice-mini__feature {
			max-width: 500px;
		}
	}
}

.theme-cloudventure-midtop {
	.block-choice-mini {
		&__feature {
			&.selected:before {
				background-color: $midtop;
			}
			&.theme-cloudventure-peak,
			&.theme-cloudventure,
			&.theme-cloudventure-waterproof {
				display: none;
			}
		}
	}
}

.theme-cloudventure-waterproof {
	.block-choice-mini {

		&__feature {
			&.selected:before {
				background-color: $waterproof;
			}
			&.theme-cloudventure-peak,
			&.theme-cloudventure-midtop,
			&.theme-cloudventure {
				display: none;
			}
		}
	}
}

.theme-cloudventure-peak {
	.block-choice-mini {

		&__feature {
			&.selected:before {
				background-color: $peak;
			}
			&.theme-cloudventure-waterproof,
			&.theme-cloudventure-midtop,
			&.theme-cloudventure {
				display: none;
			}
		}
	}
}

.theme-cloudventure {
	.block-choice-mini {

		&__feature {
			&.selected:before {
				background-color: $venture;
			}
			&.theme-cloudventure-peak,
			&.theme-cloudventure-midtop,
			&.theme-cloudventure-waterproof {
				display: none;
			}
		}
	}
}

.background-choice {
	position: absolute;
	top: 100%;
	left: 0;
	z-index : 0;
	width: 100%;
	height: 100%;
	background: rgba(54,54,54,0.8);
	opacity: 0;
	transition: opacity 0.2s linear;

	&.is-fixed {
		position: fixed;
		top: 0;
	}

	&.is-visible {
		z-index: 1009;
		opacity: 1;
	}
}

@media screen and (max-width: 690px) {
	.block-choice-mini,
	.background-choice {
		display: none;
	}
}