
.block-feature {
	@extend .block-background;
	display: none;
	background-attachment: fixed;
	position: relative;
	z-index: 2;
	overflow: hidden;

	&.visible {
		display: block;
	}

	canvas {
		display: block;
		width: 100%;
		height: 100%;

		position: absolute;
		top: 0;
		left: 0;
	}

	.svg-feature {
		position: absolute;
		top: -1px;
		left: 0;
	}

	.block-title,
	.block-slider {
		.text {
			margin: 13px 0 30px 0;
		}
		img.mobile-only {
			display: none;
		}
	}

	.slider-tooltips {
		display: none;
	}

	&__tooltip {
		position: absolute;
		$sizeTooltip : 150px;
		width: $sizeTooltip;
		height: $sizeTooltip;
		cursor: pointer;

		opacity: 0;
		transition: opacity 0.2s linear;

		&.visible {
			opacity: 1;
		}

		&__plus {
			display: block;
			position: absolute;
			top: 15px;
			left: 15px;
			width: 120px;
			height: 120px;
			background: rgba(54,54,54,0.65) url(../img/skin/close-icon.png) no-repeat center center;
			background-size: 15px 15px;
			transform: rotate(45deg);
		}
		
		&__image {
			position: absolute;
			display: block;
			width: 120px;
			height: 120px;
			z-index: 2;
			transform: translate(15px, 15px) rotate(45deg);
			overflow: hidden;

			opacity: 0;
			transition: opacity 0.2s linear;
		}
		&__bg {
			position: absolute;
			top: 0;
			display: block;
			width: 170px;
			height: 170px;
			transform: translate(-30px,-25px) rotate(-45deg);
			background-size: cover;
		}

		&.right {

			.block-feature__tooltip__content {
				right: auto;
				left: 75px;

				&-detail {
					padding: 20px 20px 20px 100px;
				}
			}
		}

		&__content {
			position: absolute;
			z-index: 1;
			
			width: 392px;
			min-height: 110px;
			top: -10px;
			right: 75px;

			background: rgba(54,54,54,0.8);
			// max-width: 0;
			overflow: hidden;
			opacity: 0;
			transition: opacity 0.2s linear;
			
			&-detail {
				color: #FFF;
				padding: 20px 100px 20px 20px;

				&__title {
					font-family: $titleFont;
					text-transform: uppercase;
					font-size: 20px;
					line-height: 25px;
				}
				&__description {
					font-family: $textFont;
					font-size: 16px;
					line-height: 20px;
				}
			}
		}

		&:hover {
			z-index: 10;
			.block-feature__tooltip__image {
				opacity: 1;
			}
			.block-feature__tooltip__content {
				// max-width: initial;
				opacity: 1;
			}
		}
	}

	&__grip {
		overflow: hidden;
		padding: 128px 0 55px;

		.block-image {
			position: relative;
			margin: 0 auto 25px;
			max-width: 880px;
		}

		.svg-feature {
			left: 50%;
			transform: translateX(-50%);
			width: 1440px;
		}
	}

	&__upper {
		position: relative;
		padding: 218px 0 115px;

		.block-image {
			position: relative;
			left: 50%;
			transform: translateX(-600px);
			max-width: 450px;
		}
		.block-title {
			position: absolute;
			top: 50%;
			transform: translate(-94px, -50%);
			max-width: 680px;
			margin-top: 50px;
		}
	}

	&__cushioning {
		padding: 108px 0 69px;

		.block-image {
			position: relative;
			left: 50%;
			transform: translateX(-94px);
			max-width: 630px;
			margin-bottom: 60px;
		}
		.block-title {
			max-width: 660px;
		}
	}

}

.theme-cloudventure-midtop {
	.block-feature { 
		&__cushioning {
			.block-image {
				max-width: 720px;
				transform: translateX(-160px);
			}
		}
	}
}

.has-touch {
	.block-feature {
		&__tooltip {
			opacity: 1;
		}
	}
}

@media screen and (max-width:1279px) {
	.block-feature {
		&__upper {
			.block-image {
				transform: translateX(-500px);
			}
		}

		&__cushioning {
			.block-image {
				margin: 0 auto 30px;
				left: auto;
				transform: none;
			}
			.block-title {
				max-width: 50%;
			}
		}
	}

	.theme-cloudventure-midtop {
		.block-feature { 
			&__cushioning {
				.block-image {
					transform: none;
				}
			}
		}
	}
}

@media screen and (max-width:1023px) {

	.block-feature {
		&__grip {
			.block-image {
				transform: scale(0.7);
			}
		}
		&__upper {
			padding: 118px 0 60px;
			.block-title {
				transform: translate(-40px, -50%);
			}
			.block-image {
				max-width: 320px;
				transform: translateX(-350px);
			}
		}
	}
}

@media screen and (max-width:690px) {

	.block-feature {
		.slider-tooltips {
			display: block;
		}
		.block-image {
			display: none;
		}
		.block-title,
		.block-slider {
			display: block;
			position: static;
			max-width: 90%;
			transform: none;
			left: auto;
			margin: 0 auto;

			img.mobile-only {
				display: block;
				max-width: 100%;
				margin: 0 auto 30px;
			}
		}

		.block-slider {
			max-width: 100%;
			background: rgba(54,54,54,0.5);
			padding-bottom: 55px;

			.slick-slider .slick-list {
				overflow: visible;
			}

			.slick-prev, 
			.slick-next {
				margin-top: 15px;
			}

			.slick-prev:before, 
			.slick-next:before {
				color: #FFF;
			}

			.slick-dots {
				bottom: -25px;

				li {
					button {
						margin: 0 8px;
					}
					button:before {
						border-radius: 0;
						border: none;
						transform: rotate(45deg);
						background: #FFF;

						width: 8px;
						height: 8px;
					}
				}
			}

			&__slide {
				color: #FFF;
				position: relative;

				&__image {
					margin: 0 auto;
					width: 80px;
					height: 80px;
					background: #333;
					position: absolute;
					top: -40px;
					left: 50%;
					transform: translateX(-50%) rotate(45deg);
					overflow: hidden;
					border: 1px solid $venture;
				}
				&__bg {
					position: absolute;
					top: 0;
					display: block;
					width: 115px;
					height: 115px;
					transform: translate(-18px,-18px) rotate(-45deg);
					background-size: cover;
				}

				&__content {
					padding-top: 50px;
					&-detail {
						width: 70%;
						margin: 20px auto 0;

						&__title {
							font-family: $titleFont;
							font-size: 16px;
							line-height: 20px;
						}
						&__description {
							font-family: $textFont;
							font-size: 12px;
							line-height: 15px;
						}
					}
				}
			}

			.button-container {
				display: block;
				width: 90%;
				margin: -30px 5% 0;
			}
		}

		&__grip {
			padding: 128px 0 0;

			.block-title img.mobile-only {
				margin-bottom: 50px;
			}
		}

		&__upper,
		&__cushioning {
			.svg-feature {
				width: 100%;
				height: 100%;
				background-repeat: no-repeat;
				background-size: 100% 100%;
			}
		}
		&__upper {
			.svg-feature {
				top: auto;
				bottom: 0;
				height: 50%;
				background-image: url(../img/skin/svg-upper.png);
			}
		}
		&__cushioning {
			.svg-feature {
				height: 80%;
				background-image: url(../img/skin/svg-cushioning.png);
			}
		}
	}
}
