
.block-find-venture {
	background: #2c2c2c url(../img/skin/bg-trail-50.png) repeat center center;
	background-size: 360px 360px;
	background-attachment: fixed;
	position: relative;
	z-index: 2;

	display: none;
	&.visible {
		display: block;
	}

	.block-content {
		min-height: 450px;
		overflow: hidden;
	}

	&__title {
		position: absolute;
		left: 106px;
		top: 170px;
	}

	&__buttons {
		position: absolute;
		right: 106px;
		top: 207px;
	}

	&__background {
		position: absolute;
		width: 100%;
		height: 120%;
		background: url(../img/backgrounds/shoe_promo.png) no-repeat center center;
		background-size: cover;

		transform: translateY(5%);
	}
}

.has-touch {
	
	.block-find-venture {
		&__background {
			transform: translateY(-10%);
		}
	}
}

@media screen and (max-width: 1023px) {

	.block-find-venture {
		.block-content {
			min-height: 300px;
		}

		&__title {
			left: 50px;
			top: 100px;
		}

		&__buttons {
			right: 50px;
			top: 100px;

			.button {
				display: block;
				margin-bottom: 10px;
			}
		}
	}
}

@media screen and (max-width: 690px) {
	.block-find-venture {
		&__title {
			position: relative;
			top: 20px;
			left: 5%;
		}
		&__buttons {
			position: relative;
			top: auto;
			bottom: -40px;
			left: 5%;
			transform: none;
			width: 90%;
		}
	}
}
