
.block-hero {
	@extend .block-full;
	@extend .block-background;
	min-height: 650px;
	overflow: hidden;

	&__background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url(../img/backgrounds/choice-waterproof.jpg) no-repeat center center;
		background-size: cover;

		opacity: 1;
		transition: opacity 0.2s linear;
	}

	.svg-load {
		position: absolute;
		bottom: 50%;
		left: 0;
		transform: translateY(18%);
		z-index: 1;

		opacity: 0.5;

		$flatTransition: 0.7s;
		transition: opacity 0.2s linear, bottom $flatTransition linear, transform $flatTransition linear;

		&.flat {
			bottom: 0;
			transform: translateY(0);
		}
	}

	.block-content {
		width: 100%;
		height: 100%;
		z-index: 2;
		overflow: hidden;
		max-width: 1390px;
	}

	.loading {
		&__content {
			position: relative;
			width: 100%;
			height: 100%;
			opacity: 0;
			transition: opacity 0.2s linear;

			.block-title {
				position: absolute;
				top: 50%;
				transform: translate(-94px, -50%);
				// max-width: 50%;
				max-width: 520px;

				.tagline {
					padding-left: 33px;
					margin-bottom: 20px;

					background: url(../img/skin/flag-swiss.png) no-repeat left top;
					background-size: 17px 17px;
				}
			}
		}

		&__loader {
			position: absolute;
			bottom: 50px;
			left: 50%;
			transform: translateX(-94px);
		}
	}

	.choice {
		&__content {
			position: absolute;
			top: 50%;
			transform: translateY(-250px);
			height: 600px;
			width: 100%;
			// overflow: hidden;
			cursor: pointer;

			opacity: 0;
			transition: opacity 0.2s linear;

			.block-title {
				max-width: 100%;
				opacity: 1;
				transition: opacity 0.2s linear;

				position: absolute;
				transform: none;
				right: 0;
				left: auto;

				h2.extra {
					opacity: 0;
					transform: translateY(-50px);
					transition: opacity 0.2s linear 0.6s, transform 0.3s ease-in-out 0.6s;

					&.blue {
						transition: opacity 0.2s linear 0.5s, transform 0.3s ease-in-out 0.5s;
					}
				}
			}
		}
		&__shoe {
			position: absolute;
			top: 0;
			left: 0;
			width: 25%;
			height: 100%;

			opacity: 1;
			transition: opacity 0.2s linear;

			&.theme-cloudventure-midtop {
				left: 25%;

				.theme {
					color: $midtop;
				}
				.choice__shoe-content {
					&__models {
						img {
							float: none;
							display: block;
							margin: 0 auto;
						}
					}
				}
			}

			&.theme-cloudventure-waterproof {
				left: 50%;
				right: auto;

				.theme {
					color: $waterproof;
				}
				.choice__shoe-content {
					&__models {
						img {
							float: none;
							display: block;
							margin: 0 auto;
						}
					}
					&__title {
						left: auto;
						right: 0;
						max-width: 205%;
						width: auto;
						white-space: nowrap;
					}
				}
			}

			&.theme-cloudventure-peak {
				left: auto;
				right: 0;

				.theme {
					color: $peak;
				}
				.choice__shoe-content {
					&__title {
						left: auto;
						right: 0;
						max-width: 205%;
						width: auto;
						white-space: nowrap;
					}
				}
			}

			&.theme-cloudventure {
				.theme {
					color: $venture;
				}
			}
			
			&-content {

				&__title {
					position: absolute;
					top: 0;
					left: 0;
					width: 200%;

					opacity: 0;
					transition: opacity 0.2s linear;

					span {
						display: block;
					}
				}

				.cover {
					position: absolute;
					left: 12%;
					bottom: 220px;
					width: 76%;

					display: block;
					transform: translateY(-100px);
					opacity: 0;
					transition: transform 0.3s ease-in-out 0.3s, opacity 0.2s linear 0.3s, width 0.3s ease-in-out, left 0.3s ease-in-out;
				}

				&__detail {
					position: absolute;
					bottom: 100px;
					left: 0;
					width: 100%;

					text-align: center;
					opacity: 0;
					transition: opacity 0.3s linear 0.8s;

					span {
						display: block;
						&.h3 {
							margin-bottom: 5px;
						}
					}
				}

				&__models {
					position: absolute;
					left: 15%;
					bottom: 100px;
					width: 70%;

					opacity: 0;
					transition: opacity 0.2s linear;

					img {
						width: 30%;
						margin-right: 3%;
						float: left;
					}
				}
			}

			.button {
				position: absolute;
				left: 15%;
				bottom: 0;
				width: 250px;
				text-align: left;

				opacity: 0;
				transition: opacity 0.2s linear;
			}
		}
	}

	&.choice.over {
		.choice__content .block-title {
			opacity: 0;
		}
		.choice__shoe {
			opacity: 0.5;
		}
		.svg-load {
			opacity: 0.2;
		}
	}

	&.choice {
		.choice__shoe {
			&:hover {
				opacity: 1 !important;

				.cover {
					left: 9%;
					width: 82%;
				}
				.choice__shoe-content {
					&__title {
						opacity: 1;
					}
					&__detail {
						opacity: 0;
					}
					&__models {
						opacity: 1;
					}
				}
				.button {
					opacity: 1;
				}
			}

			&-content__detail {
				transition: opacity 0.2s linear;
			}
		}
	}
}

@media screen and (max-width : 1439px) {

	.block-hero {
		.block-content {
			max-width: 1240px;
		}
	}
}

@media screen and (max-width : 1279px) {

	.block-hero {
		.block-content {
			max-width: 984px;
		}
	}
}

@media screen and (max-width: 1025px) {

	.block-hero {
		min-height: 100%;

		.choice {
			&__content {
				height: 540px;
				transform: translateY(-220px);
			}
			&__shoe {
				.cover {
					left: 15%;
					width: 70%;
				}
				.button {
					display: none;
				}
				&-content { 
					&__title,
					&__models {
						display: none;
					}
				}
			}
		}
		&.choice {
			.choice {
				&__shoe {
					&:hover {
						.choice__shoe-content__detail {
							opacity: 1;
						}
					}
				}
			}
		}
		&.choice.over {
			.choice__content .block-title {
				opacity: 1;
			}
		}
	}
}

@media screen and (max-width: 1023px) {
	.block-hero {
		.block-content {
			max-width: 650px;
		}
		.choice {
			&__shoe {
				.cover {
					left: 5%;
					width: 90%;
				}
			}
		}
		&.choice .choice {
			&__shoe:hover {
				.cover {
					left: 5%;
					width: 90%;
				}
			}
		}
	}
}

@media screen and (max-width: 690px) {

	.block-hero {
		min-height: initial;
		height: auto;
		position: relative;

		&__background {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: auto;
			height: auto;
		}

		.block-content {
			max-height: initial;
			height: auto;
		}

		.svg-load {
			path {
				stroke-width: 2 !important;
			}
		}
		.loading {

			&__loader {
				transform: translateX(-50%);

				.tagline {
					font-size: 16px;
					line-height: 20px;
				}
			}
			&__content {
				.block-title {
					position: absolute;
					top: 50%;
					left: 5%;
					width: 90%;
					transform: translateY(-50%);
				}
			}
		}
		.choice {
			&__content {
				position: static;
				top: auto;
				left: auto;
				transform: none;

				margin: 0 auto;
				width: 90%;
				height: auto;

				.block-title {
					position: static;
					margin-top: 120px;

					h2.extra {
						transition: none;
						&.blue {
							transition: none;
						}
					}
				}
			}
			&__shoe {
				position: static;
				width: 100%;
				height: auto;
				margin-bottom: 40px;

				.button {
					display: none;
				}

				&-content { 
					&__title,
					&__models {
						display: none;
					}
					.cover {
						position: static;
						margin: 20px auto;
						transition: none;
					}
					&__detail {
						position: static;
						transition: none;
					}
				}
			}
		}


		&.choice.over {
			.choice__content .block-title {
				opacity: 1;
			}
			.choice__shoe {
				opacity: 0.5;
			}
			.svg-load {
				opacity: 0.2;
			}
		}

		&.choice {
			.choice__shoe {
				&:hover {
					.cover {
						left: auto;
						// width: 60%;
					}
				}
			}
		}
	}

	.template__loading {
		.block-hero {
			height: 100%;

			.block-content {
				height: 100%;

				.loading__content h2 {
					font-size: 40px !important;
					line-height: 40px !important;
					letter-spacing: 1px;
				}
			}
		}
	}
}