
.block-watch {
	
	min-height: 450px;
	position: relative;
	overflow: hidden;

	&__background {
		@extend .block-background;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 700px;
		transform: translateY(0);
	}

	&__guy {
		position: absolute;
		width: 100%;
		height: 100%;

		background: url(../img/backgrounds/watch-guy.png) no-repeat center top;
		background-size: 286px 454px;

		transform: translateY( 280px );
	}

	&__title {
		position: absolute;
		top: 155px;
		left: 106px;
	}

	.button {
		position: absolute;
		top: 220px;
		right: 106px;
	}

}

.has-touch {
	.block-watch {
		&__background {
			height: 450px;
			transform: none;
		}
		&__guy {
			transform: translateY(120px);
		}
	}
}

@media screen and (max-width: 1023px) {

	.has-touch .block-watch,
	.block-watch {
		// min-height: 320px;

		&__background {
			transform: none;
		}
		&__guy {
			transform: translateY(20px);
		}
		&__title {
			top: 100px;
			left: 50px;
		}
		.button {
			top: 135px;
			right: 50px;
		}
	}
	.has-touch .block-watch {
		&__background {
			// height: 320px;
		}
	}
}

@media screen and (max-width: 1023px) {
	.has-touch .block-watch,
	.block-watch {
		&__title {
			position: relative;
			transform: none;
			top: 135px;
			left: 5%;
		}
		.button {
			position: relative;
			transform: none;
			left: 5%;
			bottom: 5%;
			width: 90%;
		}
	}
}