.block-trail-hero {
	position: relative;
	width: 100%;
	height: 100%;

	&__content {
		position: absolute;
		top: 18px;
		bottom: 18px;
		left: 20px;
		right: 20px;
		overflow: hidden;
	}

	&__background {
		@extend .block-background;
		@extend .block-full;

		position: absolute;
		top: 0;
		left: 0;
		height: 110%;
	}

	&__title {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		text-align: center;

		h3 {
			font-size: 16px;
			line-height: 20px;
			letter-spacing: 0;
		}
		h1 {
			letter-spacing: 10.5px;
			margin-bottom: 15px;
		}
		.text {
			font-size: 25px;
			line-height: 30px;

			margin: 0 auto;
			max-width: 740px;

			.bold {
				white-space: nowrap;
				font-weight: 600;
				letter-spacing: 1px;
			}
		}
		&__separator {
			display: block;
			height: 1px;
			background: #FFF;

			margin: 14px auto 35px;
			max-width: 400px;
		}
	}
	
}


@media screen and ( max-width: 1025px ) {
	.block-trail-hero {
		&__title {
			width: 90%;
		}
	}
}

@media screen and ( max-width: 1023px ) {
	.block-trail-hero {
		&__title {

			h1 {
				font-size: 100px;
				line-height: 100px;
				letter-spacing: 2.5px;
			}
			h3 {
				font-size: 16px !important;
				line-height: 20px !important;
			}
			.text {
				font-size: 20px;
				line-height: 25px;
				max-width: 530px;
			}
		}
	}
}

@media screen and ( max-width: 767px ) {
	.block-trail-hero {
		&__title {
			h1 {
				font-size: 50px !important;
				line-height: 50px !important;
			}
			.text {
				font-size: 16px !important;
				line-height: 20px !important;
			}
			&__separator {
				max-width: 70%;
			}
		}
	}
}