.block-trail-content {

	font-family: $textFont;
	color: $grey;

	&__author,
	&__promo {
		font-family: $titleFont;
		font-size: 25px;
		line-height: 30px;
		text-transform: uppercase;
		overflow: hidden;
	}

	&__author {
		margin: 20px auto 50px;
		max-width: 1024px;

		&__image {
			width: 188px;
			border-radius: 50%;
			overflow: hidden;
			float: left;
			margin-right: 20px;

			img {
				display: block;
				width: 100%;
			}
		}
		&__details {
			margin: 50px 0 0 210px;
			
			&__separator {
				max-width: 710px;
				background: $grey;
				height: 1px;
			}
		}
	}


	&__promo {
		max-width: 1206px;
		margin: 50px auto;

		&__image {
			width: 290px;
			max-width: 100%;
			overflow: hidden;
			float: left;
			margin-right: 20px;

			img {
				display: block;
				width: 100%;
			}
		}
		&__details {
			margin: 25px 0 0 311px;

			&__title {
				
			}
			&__subtitle {
				
			}
			&__button {
				color: $red;
				font-size: 20px;
				line-height: 30px;
			}
			&__separator {
				max-width: 710px;
				background: $grey;
				height: 1px;

				margin: 10px 0;
			}
		}
	}

	&__quote {
		position: relative;
		margin: 65px auto;
		max-width: 1024px;
		font-family: $titleFont;
		font-size: 50px;
		line-height: 50px;
		color: $red;
		text-transform: uppercase;

		&:before {
			position: absolute;
			top: 0;
			left: -106px;

			display: block;
			width: 73px;
			height: 73px;

			content: "";			
			background: url(../img/skin/trail-quote.png) no-repeat left top;
			background-size: 73px 73px;
		}
	}

	&__paragraph {
		font-size: 25px;
		line-height: 30px;
		max-width: 800px;
		margin: 30px auto;
		color: $grey;
	}
	&__question {
		color: #999;
	}
}

@media screen and ( max-width: 1279px ) {

	.block-trail-content {
		&__author,
		&__quote,
		&__promo {
			max-width: 800px;
		}
	}
}

@media screen and ( max-width: 1023px ) {

	.block-trail-content {
		&__paragraph,
		&__author,
		&__quote {
			max-width: 650px;
		}

		&__paragraph {
			font-size: 20px;
			line-height: 25px;
		}
		&__quote:before {
			position: static;
			margin: 0 auto 20px;
		}
		&__promo {
			max-width: 422px;

			&__image {
				float: none;
				display: block;
				margin: 0 auto;
			}
			&__details {
				margin: 25px 0 0;
			}
		}
	}
}

@media screen and ( max-width: 690px ) {
	.block-trail-content {
		&__paragraph,
		&__author,
		&__quote,
		&__promo {
			max-width: 100%;
			margin-left: 20px;
			margin-right: 20px;
		}

		&__author {
			font-size: 20px;
			line-height: 30px;

			&__image {
				width: 95px;
			}
			&__details {
				margin: 0 0 0 110px;
			}
		}

		&__quote {
			font-size: 35px;
			line-height: 40px;
			margin-top: 20px;
			margin-bottom: 20px;
		}

		&__promo {
			margin: 20px;
		}
	}
}