
$translateOffset : 100px;
.block-trail-take {
	min-height: 700px;
	background: #2c2c2c url(../img/skin/bg-trail-50.png) repeat center center;
	background-size: 360px 360px;
	background-attachment: fixed;
	box-sizing: initial;

	.block-content {
		z-index: 10;
	}

	&__title {
		position: absolute;
		top: 112px;
		left: 106px;
	}

	&__trails {
		padding-top: 170px;
		overflow: hidden;
	}
	&__trail {
		display: block;
		float: left;
		width: 25%;
		min-height: 530px;
		position: relative;
		overflow: hidden;

		background: no-repeat center center;
		background-size: cover;

		span {
			display: block;
		}

		&__background {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba(20,20,20,0.2);
			z-index: 1;

			opacity: 0;
			transition: opacity 0.2s linear;
		}
		&__text {
			position: relative;
			z-index: 2;
			padding: 300px 0 0 30%;
			max-width: 200px;

			.h3 {
				line-height: 30px;
				margin-bottom: 5px;
				transition: transform 0.3s ease-in-out, opacity 0.2s linear;
			}
			.text {
				font-size: 16px;
				line-height: 20px;
				transition: transform 0.3s ease-in-out 0.1s, opacity 0.2s linear 0.1s;
			}
			.h3,
			.text {
				transform: translateX(0);
				opacity: 1;
			}
		}
		&__separator {
			position: absolute;
			top: 368px;
			left: 0;

			background: #FFF;
			width: 28%;
			height: 2px;

			transition: all 0.3s ease-in-out;
		}
		&__h3--over {
			top: 270px;
		}
		&__text--over {
			top: 320px;
		}
		&__h3--over.h3,
		&__text--over.text {
			position: absolute;
			opacity: 0;
			transform: translateX($translateOffset);
			transition: transform 0.3s ease-in-out, opacity 0.2s linear;
		}
		&__text--over.text {
			transition: transform 0.3s ease-in-out 0.1s, opacity 0.2s linear 0.1s;
		}

		&:hover {
			.block-trail-take__trail {
				&__background {
					opacity: 1;
				}
				&__separator {
					top: 302px;
					width: 100%;
				}
				&__text {
					.h3,
					.text {
						transform: translateX($translateOffset);
						opacity: 0;
					}
				}
				&__h3--over.h3,
				&__text--over.text {
					transform: translateX(0);
					opacity: 1;
				}
			}
		}
	}

}
.lang__de {
	.block-trail-take {
		&__trail {
			&__h3--over {
				margin-top: -30px;
			}
		}
	}
}

@media screen and (max-width: 1279px) {
	.block-trail-take {
		&__trail {
			&__text {
				padding: 300px 0 0 20%;
			}
			&__separator {
				width: 17%;
			}
		}
	}
}


@media screen and (max-width: 1100px) {
	.block-trail-take {
		&__trail {
			&__text {
				padding: 300px 0 0 25px;
			}
			&__separator {
				width: 20px;
			}
		}
	}
}


@media screen and (max-width: 1023px) {
	.block-trail-take {
		&__title {
			top: 30px;
			left: 20px;
			h2 {
				font-size: 50px;
			}
		}
		&__trails {
			padding-top: 70px;
		}
		&__trail {
			width: 50%;
			&__text {
				padding: 300px 0 0 20%;
			}
			&__separator {
				width: 17%;
			}
		}
	}
}

@media screen and (max-width: 690px) {
	.block-trail-take {
		&__trail {
			min-height: 365px;

			&__separator {
				top: 206px;
			}

			&__text {
				padding: 150px 0 0 20%;
				.h3 {
					font-size: 20px;
					line-height: 25px;
				}
				.text {
					font-size: 12px;
					line-height: 15px;
				}
			}

			&__h3--over {
				top: 90px;
			}
			&__text--over {
				top: 145px;
			}
			&:hover {
				.block-trail-take__trail__separator {
					top: 147px;
					width: 17%;
				}
			}
		}
	}
	.lang__de {
		.block-trail-take {
			&__trail {
				&__h3--over {
					margin-top: -10px;
				}
			}
		}
	}
}