
.block-trail-map {

	&__intro {
		&__content {
			margin: 60px auto 55px;
			max-width: 1024px;
			overflow: hidden;
			position: relative;
			
			.text {
				color: $grey;
				font-size: 25px;
				line-height: 30px;
				max-width: 800px;
			}
		}		

		&__stat {
			float: left;
			
		}
		&__description {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			margin: 0 0 0 210px;
		}
	}

	&__map {
		
		position: relative;
		width: 100%;
		height: 3000px;

		&.no-scroll {
			height: 100%;
		}

		&.has-touch {
			height: 100%;

			.block-trail-map__map__miles {
				&__scroller {
					.mile {
						height: 51px;
						opacity: 1;
						transform: translateY(0);
						transition: none;
					}
				}
			}
		}
		&.no-miles {
			.block-trail-map__map__miles {
				display: none;
			}
			.block-trail-map__map__path {
				left: 0;
			}
		}

		&__container {
			position: relative;
			top: 0;
			width: 100%;

			&.is-fixed {
				position: fixed;
			}

			&.is-bottomed {
				position: absolute;
				top: auto;
				bottom: 0;
			}
		}

		&__miles {
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			width: 270px;
			background: #FFF;

			&__header {
				width: 100%;

				img {
					display: block;
					margin: 30px 0 0 20px;
					width: 160px;
				}
			}
			&__scroller {
				position: absolute;
				top: 140px;
				bottom: 62px;
				width: 100%;
				background: url(../img/skin/bg-map-miles.png) repeat-y 72px 0;

				.mile {
					background: url(../img/skin/bg-miles.png) repeat-y 70px 0;

					overflow: hidden;
					height: 0;
					opacity: 0;
					transform: translateY(20px);
					transition: transform 0.2s linear, opacity 0.2s linear;

					&.visible {
						height: 51px;
						opacity: 1;
						transform: translateY(0);
					}

					.mile-inside {
						position: relative;
						margin: 0 0 0 20px;

						font-family: $titleFont;
						font-size: 16px;
						line-height: 20px;
						text-transform: uppercase;

						.mile-title {
							color: $red;
						}
						.mile-details {
							position: absolute;
							left: 73px;
							top: 0;

							.label {
								color: $grey;
							}
							.value {
								color: $red;
							}
						}
					}
				}

				&__inside {
					position: relative;
					overflow-y: auto;
					height: 100%;
				}
			}
			&__promo {
				position: absolute;
				bottom: 0;
				width: 100%;
				height: 62px;
				background: #FFF;

				font-size: 16px;
				line-height: 20px;
				text-transform: uppercase;
				color: #C9C9C9;
				font-family: $titleFont;

				span,
				a {
					display: block;
					float: left;
				}
				a {
					margin: 2px 0 0 5px;
				}

				&__inside {
					margin: 30px 0 0 20px;
				}
				img {
					display: block;
					width: 63px;
				}
			}
		}
		&__path {
			position: absolute;
			left: 270px;
			top: 0;
			bottom: 0;
			right: 0;
			background: #EEE;
		}
	}

	&__outro {

		&__content {
			position: relative;
			overflow: hidden;
			margin: 60px auto 45px;
			max-width: 1024px;
		}

		&__title {
			font-size: 50px;
			line-height: 50px;
			text-transform: uppercase;
			color: $grey;
			font-family: $titleFont;
			letter-spacing: $titleLetterSpacing;

			position: absolute;
			left: 88px;
			top: 50%;
			transform: translateY(-50%);
			max-width: 300px;
		}
		&__stats {
			float: right;
		}
		&__stat {
			float: left;
			margin-right: 10px;

			&:last-child {
				margin-right: 0;
			}
		}
		.button {
			position: absolute;
			right: 25px;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}

.block-stat {
	box-sizing: initial;
	width: 186px;
	height: 186px;
	
	border: 2px solid $red;
	border-radius: 50%;

	color: $red;
	text-align: center;
	text-transform: uppercase;
	font-family: $titleFont;
	position: relative;

	&__inside {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
	}

	&__number {
		font-size: 35px;
		margin-bottom: 6px;
	}
	&__label {
		font-size: 20px;
	}
}

@media screen and (max-width: 1279px) {
	.block-trail-map {
		&__intro__content {
			max-width: 800px;
		}
		&__outro {
			&__content {
				max-width: 900px;
			}

			&__title {
				left: 0;
			}
		}
	}
}

@media screen and ( max-width: 1023px ) {
	.block-trail-map {
		&__intro__content {
			text-align: center;
			.text {
				position: static;
				margin: 25px auto 0;
				max-width: 650px;
				transform: none;
				text-align: left;
				font-size: 20px;
				line-height: 25px;
			}
		}
		&__intro__stat {
			float: none;
			margin: 0 auto;
			text-align: center;
		}

		&__outro__stats {
			float: none;
			margin: 0 auto;
			text-align: center;
		}
		&__outro__title {
			position: static;
			text-align: center;
			transform: none;
			margin-bottom: 20px;
			max-width: 100%;
		}

		&__map {

			&__miles {
				left: 0;
				top: 0;
				width: 100%;
				height: 175px;

				&__scroller {
					top: 25px;
					left: 200px;
					bottom: 0;
					right: 0;
					width: auto;
					overflow-y: hidden;
					overflow-x: auto;
					background: none;

					&__inside {
						width: 0;
					}

					.mile {
						float: left;
						width: 142px;
						height: auto !important;
						background: none;
						border-top: 3px solid $red;

						.mile-inside {
							margin: 20px 0 0 0;

							.mile-details {
								position: static;
							}
						}
					}
				}
			}

			&__path {
				left: 0;
				top: 175px;
				bottom: 0;
			}

			&.no-miles {
				.block-trail-map__map__path {
					top: 0;
				}
			}
		}
	}

	.block-stat {
		float: none;
		display: inline-block;
	}
}

@media screen and ( max-width: 690px ) {
	.block-trail-map {

		&__intro {
			&__content {
				margin: 20px;
			}
		}
		&__outro {
			&__title {
				margin: 0 20px 20px;
			}
			&__stat {
				display: block;
				margin-right: auto !important;
				margin-left: auto;
				margin-bottom: 10px;
			}
		}

		&__map {
			&__miles {
				height: 120px;

				&__header {
					img {
						max-width: 120px;
					}
				}
				&__scroller {
					display: none;
				}
				&__promo {
					top: 20px;
					right: 20px;
					left: auto;
					width: auto;
				}
			}

			&__path {
				top: 120px;
			}
		}
	}
}
