.block-trail-images {
	margin: 0 20px;
	overflow: hidden;

	img {
		display: block;
		width: 25%;
		float: left;
	}
}

@media screen and ( max-width: 1023px ) {
	.block-trail-images {
		margin: 0;

		img {
			width: 50%;
		}
	}
}