@import 
	"common/reset",
	"common/fonts",
	"common/variables";

html,
body {
	position: relative;
	width: 100%;
	height: 100%;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	&.has-touch {
		cursor: pointer;
	}
}
.wrapper {
	width: 100%;
	height: 100%;
	margin-top: 0;
	transition: margin-top 0.35s ease-in-out;
}
/*
.iframe-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
*/

@import
	"common/slick",
	"common/slick-theme",

	"common/header",
	"common/footer",
	"common/base",
	"common/templates",
	"common/watch",

	"blocks/hero",
	"blocks/feature",
	"blocks/watch-film",
	"blocks/find-venture",
	"blocks/choice-mini",

	"blocks/trail/trail-take",
	"blocks/trail/trail-hero",
	"blocks/trail/trail-content",
	"blocks/trail/trail-images",
	"blocks/trail/trail-map",

	"common/ie";
