@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'DIN1451Com-Engschrift';
  src: url("fonts/DIN1451Com-Engschrift.eot?#iefix") format("embedded-opentype"), url("fonts/DIN1451Com-Engschrift.woff") format("woff"), url("fonts/DIN1451Com-Engschrift.ttf") format("truetype"), url("fonts/DIN1451Com-Engschrift.svg#DIN1451Com-Engschrift") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Helserif-Boo';
  src: url("fonts/Helserif-Boo.eot?#iefix") format("embedded-opentype"), url("fonts/Helserif-Boo.otf") format("opentype"), url("fonts/Helserif-Boo.woff") format("woff"), url("fonts/Helserif-Boo.ttf") format("truetype"), url("fonts/Helserif-Boo.svg#Helserif-Boo") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* TITLE / TEXT */
/* COLOURS */
/* GRID */
html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html.has-touch,
body.has-touch {
  cursor: pointer;
}

.wrapper {
  width: 100%;
  height: 100%;
  margin-top: 0;
  -webkit-transition: margin-top 0.35s ease-in-out;
  transition: margin-top 0.35s ease-in-out;
}

/*
.iframe-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
*/
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}
[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 114px;
  z-index: 1000;
}
.header .mobile-only {
  display: none;
}
.header .menu-cloudventure {
  position: absolute;
  width: 100%;
  height: 114px;
  background: url(../img/skin/menu-bg.png) repeat-x top left;
  background-size: 1px 114px;
}
.header .menu-cloudventure .logo {
  display: block;
  float: left;
  margin: 30px 0 0 40px;
}
.header .menu-cloudventure .logo img {
  display: block;
  width: 50%;
}
.header .menu-cloudventure .menu {
  margin: 18px 40px 0 0;
  float: right;
  overflow: hidden;
}
.header .menu-cloudventure .menu li {
  display: block;
  float: left;
}
.header .menu-cloudventure .menu li:last-child a {
  background: none;
}
.header .menu-cloudventure .menu li.selected a:before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  background-color: #d75e5e;
}
.header .menu-cloudventure .menu a {
  display: block;
  padding: 25px 20px;
  font-family: "DIN1451Com-Engschrift", sans-serif;
  text-transform: uppercase;
  color: #FFF;
  background: url(../img/skin/menu-separator.png) no-repeat right center;
  background-size: 1px 16px;
  position: relative;
}
.header .menu-cloudventure .menu a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #FFF;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: -webkit-transform 0.15s linear;
  transition: -webkit-transform 0.15s linear;
  transition: transform 0.15s linear;
  transition: transform 0.15s linear, -webkit-transform 0.15s linear;
}
.header .menu-cloudventure .menu a:hover:before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.header .menu-cloudventure .menu a.btn__header-master:before {
  content: none;
}
.header .menu-cloudventure .menu a.btn__header-master:after {
  content: "";
  display: block;
  width: 15px;
  height: 11px;
  float: right;
  margin-left: 10px;
  margin-top: 1px;
  background: url(../img/skin/menu-arrow.png) no-repeat center center;
  background-size: 15px 11px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.header-master {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
  font-family: "Helserif-Boo", serif;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.header-master .quit-background {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(20, 20, 20, 0.6);
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.header-master__open .header-master {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.header-master__open .header-master .quit-background {
  opacity: 1;
}
.header-master__open .header .menu-cloudventure .menu a.btn__header-master:after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.header-master__open .wrapper {
  margin-top: 70px;
}

.template__trail .header .menu-cloudventure {
  background-image: none;
}

@media screen and (max-width: 1023px) {
  .header.menu-open {
    z-index: 2000;
  }
  .header.menu-open .menu-cloudventure .menu,
  .header.menu-open .menu-cloudventure .btn-close-menu {
    display: block;
  }
  .header.menu-open .menu-cloudventure .btn-open-menu {
    display: none;
  }
  .header.menu-open .menu-cloudventure .logo {
    position: fixed;
  }
  .header .mobile-only {
    display: block;
  }
  .header .menu-cloudventure .logo {
    position: relative;
    z-index: 1100;
  }
  .header .menu-cloudventure .menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(51, 51, 51, 0.95);
    z-index: 1090;
    margin: 0;
    padding: 100px 20px 0;
  }
  .header .menu-cloudventure .menu li {
    float: none;
    border-bottom: 1px solid #333;
  }
  .header .menu-cloudventure .menu li a {
    background: none;
    font-size: 25px;
    line-height: 30px;
  }
  .header .menu-cloudventure .menu li a:before {
    color: #FFF;
    content: "_ ";
    position: static;
    width: auto;
    height: auto;
    background-color: transparent !important;
    -webkit-transform: none;
            transform: none;
  }
  .header .menu-cloudventure .menu li.desktop-only {
    display: none;
  }
  .header .menu-cloudventure .btn-open-menu,
  .header .menu-cloudventure .btn-close-menu {
    display: none;
    position: fixed;
    top: 28px;
    right: 23px;
    padding: 15px;
    z-index: 1100;
  }
  .header .menu-cloudventure .btn-close-menu {
    width: 15px;
    height: 15px;
    background: url(../img/skin/close-icon.png) no-repeat center center;
    background-size: 15px 15px;
    top: 35px;
    right: 35px;
  }
  .header .menu-cloudventure .btn-open-menu {
    display: block;
    width: 25px;
    height: 17px;
    background: url(../img/skin/burger-icon.png) no-repeat center center;
    background-size: 25px 17px;
    box-sizing: initial;
  }
  .header .menu-cloudventure .btn-open-master {
    position: fixed;
    right: 80px;
    top: 40px;
    font-family: "DIN1451Com-Engschrift", sans-serif;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    padding-top: 3px;
    padding-right: 15px;
    background: url(../img/skin/menu-separator.png) no-repeat right center;
    background-size: 1px 16px;
  }
  .header .menu-cloudventure .btn-open-master:after {
    content: "";
    display: block;
    width: 26px;
    height: 16px;
    float: right;
    margin-left: 10px;
    background: url(../img/skin/menu-arrow_mobile.png) no-repeat center center;
    background-size: 26px 16px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }
}
@media screen and (max-width: 690px) {
  .header .menu-cloudventure .btn-open-master {
    text-indent: -5000px;
    overflow: hidden;
  }
}
.footer {
  padding: 17px 19px 13px 20px;
  background: #3F3F3F;
  color: #FFF;
  overflow: hidden;
  position: relative;
  z-index: 3;
}
.footer span.tagline {
  float: left;
  margin-right: 10px;
}
.footer .lang {
  float: left;
  overflow: hidden;
}
.footer .lang li {
  display: block;
  margin-right: 5px;
  float: left;
}
.footer .lang li a {
  display: block;
  font-family: "DIN1451Com-Engschrift", sans-serif;
  text-transform: uppercase;
  color: #FFF;
  font-size: 16px;
  line-height: 20px;
}
.footer .footer__link-right {
  float: right;
}

@media screen and (max-width: 1279px) {
  .footer .lang li {
    margin-right: 10px;
  }
  .footer .lang li a {
    font-size: 12px;
    line-height: 15px;
  }
}
/* themes */
.theme-cloudventure-peak .theme, .theme-cloudventure-peak.theme {
  color: #f05222;
}
.theme-cloudventure-peak .theme a, .theme-cloudventure-peak.theme a {
  color: #f05222;
}
.theme-cloudventure-peak .theme.scroll-percentage,
.theme-cloudventure-peak .button .background,
.theme-cloudventure-peak .button-container .background {
  background-color: #f05222;
}
.theme-cloudventure-peak .button:hover {
  border-color: #f05222;
  border-bottom-color: #e44621;
}
.theme-cloudventure-peak .button-container:hover .button-top {
  border-right-color: #f05222;
  border-left-color: #f05222;
  border-top-color: #f05222;
}
.theme-cloudventure-peak .button-container:hover .button-top a {
  border-right-color: #e44621;
}
.theme-cloudventure-peak .button-container:hover .button-trigger {
  border-right-color: #f05222;
  border-left-color: #f05222;
  border-top-color: #e44621;
  border-bottom-color: #e44621;
}
.theme-cloudventure-peak .slick-dots .slick-active button:before {
  background-color: #f05222 !important;
}
.theme-cloudventure-peak .block-feature .block-slider__slide__image {
  border-color: #f05222;
}

.theme-cloudventure-waterproof .theme, .theme-cloudventure-waterproof.theme {
  color: #81cfdb;
}
.theme-cloudventure-waterproof .theme a, .theme-cloudventure-waterproof.theme a {
  color: #81cfdb;
}
.theme-cloudventure-waterproof .theme.scroll-percentage,
.theme-cloudventure-waterproof .button .background,
.theme-cloudventure-waterproof .button-container .background {
  background-color: #81cfdb;
}
.theme-cloudventure-waterproof .button:hover {
  border-color: #81cfdb;
  border-bottom-color: #68a8b4;
}
.theme-cloudventure-waterproof .button-container:hover .button-top {
  border-right-color: #81cfdb;
  border-left-color: #81cfdb;
  border-top-color: #81cfdb;
}
.theme-cloudventure-waterproof .button-container:hover .button-top a {
  border-right-color: #68a8b4;
}
.theme-cloudventure-waterproof .button-container:hover .button-trigger {
  border-right-color: #81cfdb;
  border-left-color: #81cfdb;
  border-top-color: #68a8b4;
  border-bottom-color: #68a8b4;
}
.theme-cloudventure-waterproof .slick-dots .slick-active button:before {
  background-color: #81cfdb !important;
}
.theme-cloudventure-waterproof .block-feature .block-slider__slide__image {
  border-color: #81cfdb;
}

.theme-cloudventure-midtop .theme, .theme-cloudventure-midtop.theme {
  color: #e37381;
}
.theme-cloudventure-midtop .theme a, .theme-cloudventure-midtop.theme a {
  color: #e37381;
}
.theme-cloudventure-midtop .theme.scroll-percentage,
.theme-cloudventure-midtop .button .background,
.theme-cloudventure-midtop .button-container .background {
  background-color: #e37381;
}
.theme-cloudventure-midtop .button:hover {
  border-color: #e37381;
  border-bottom-color: #a32d4a;
}
.theme-cloudventure-midtop .button-container:hover .button-top {
  border-right-color: #e37381;
  border-left-color: #e37381;
  border-top-color: #e37381;
}
.theme-cloudventure-midtop .button-container:hover .button-top a {
  border-right-color: #a32d4a;
}
.theme-cloudventure-midtop .button-container:hover .button-trigger {
  border-right-color: #e37381;
  border-left-color: #e37381;
  border-top-color: #a32d4a;
  border-bottom-color: #a32d4a;
}
.theme-cloudventure-midtop .slick-dots .slick-active button:before {
  background-color: #e37381 !important;
}
.theme-cloudventure-midtop .block-feature .block-slider__slide__image {
  border-color: #e37381;
}

.theme-cloudventure .theme, .theme-cloudventure.theme {
  color: #e5e734;
}
.theme-cloudventure .theme a, .theme-cloudventure.theme a {
  color: #e5e734;
}
.theme-cloudventure .theme.scroll-percentage,
.theme-cloudventure .button .background,
.theme-cloudventure .button-container .background {
  background-color: #e5e734;
}
.theme-cloudventure .button:hover {
  border-color: #e5e734;
  border-bottom-color: #a0a32e;
}
.theme-cloudventure .button-container:hover .button-top {
  border-right-color: #e5e734;
  border-left-color: #e5e734;
  border-top-color: #e5e734;
}
.theme-cloudventure .button-container:hover .button-top a {
  border-right-color: #a0a32e;
}
.theme-cloudventure .button-container:hover .button-trigger {
  border-right-color: #e5e734;
  border-left-color: #e5e734;
  border-top-color: #a0a32e;
  border-bottom-color: #a0a32e;
}
.theme-cloudventure .slick-dots .slick-active button:before {
  background-color: #e5e734 !important;
}
.theme-cloudventure .block-feature .block-slider__slide__image {
  border-color: #e5e734;
}

/* TITLES and TEXT */
.wrapper h1,
.wrapper .h1 {
  font-size: 130px !important;
  line-height: 115px !important;
  text-transform: uppercase;
  color: #FFF;
  font-family: "DIN1451Com-Engschrift", sans-serif !important;
  letter-spacing: 5.5px;
}
.wrapper h2,
.wrapper .h2 {
  font-family: "DIN1451Com-Engschrift", sans-serif !important;
  font-size: 69px !important;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 5.5px;
}
.wrapper h2.blue,
.wrapper h2 .blue,
.wrapper .h2.blue,
.wrapper .h2 .blue {
  color: #09b4ce;
}
.wrapper h2.extra,
.wrapper .h2.extra {
  font-size: 75px;
}
.wrapper h3,
.wrapper .h3 {
  font-family: "DIN1451Com-Engschrift", sans-serif !important;
  font-size: 25px !important;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 1.9px;
}

.copyright {
  font-size: 45%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -1em;
}

a {
  text-decoration: none;
}

.text {
  font-family: "Helserif-Boo", serif;
  font-size: 20px;
  line-height: 25px;
  color: #FFF;
}

.tagline {
  font-family: "DIN1451Com-Engschrift", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 0.9px;
}

/* BUTTONS */
.button {
  box-sizing: initial;
  position: relative;
  display: inline-block;
  height: 50px;
  min-width: 250px;
  overflow: hidden;
  font-family: "DIN1451Com-Engschrift", sans-serif;
  font-size: 20px;
  line-height: 25px;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid #FFF;
  -webkit-transition: border-color 0.4s linear;
  transition: border-color 0.4s linear;
}
.button .label {
  display: inline-block;
  padding: 16px 0 0 12px;
  position: relative;
  z-index: 2;
}
.button-red {
  color: #d75e5e;
  border-color: #d75e5e;
  -webkit-transition: border-color 0.4s linear, color 0.4s linear;
  transition: border-color 0.4s linear, color 0.4s linear;
}
.button-red .background {
  background-color: #d75e5e;
}
.button-red:hover {
  color: #fff;
  border-bottom-color: #964242 !important;
}
.button .background {
  display: block;
  width: 100%;
  height: 50px;
  position: absolute;
  top: 0;
  z-index: 1;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.button:hover {
  border-bottom-width: 2px;
  height: 49px;
}
.button:hover .background {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.button-container {
  position: relative;
  display: inline-block;
  min-width: 250px;
  overflow: hidden;
  font-family: "DIN1451Com-Engschrift", sans-serif;
  font-size: 20px;
  line-height: 25px;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
  text-align: left;
  margin-top: -50px;
}
.button-container .label {
  display: inline-block;
  padding: 16px 0 0 12px;
  position: relative;
  z-index: 2;
  color: #FFF;
}
.button-container .button-top {
  position: relative;
  z-index: 2;
  height: 50px;
  overflow: hidden;
  border-left: 1px solid #FFF;
  border-right: 1px solid #FFF;
  border-top: 1px solid #FFF;
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition: opacity 0.2s linear, -webkit-transform 0.2s linear;
  transition: opacity 0.2s linear, -webkit-transform 0.2s linear;
  transition: transform 0.2s linear, opacity 0.2s linear;
  transition: transform 0.2s linear, opacity 0.2s linear, -webkit-transform 0.2s linear;
}
.button-container .button-top a {
  display: block;
  height: 50px;
  width: 50%;
  float: left;
  border-right: 1px solid #FFF;
}
.button-container .button-top a:last-child {
  border-right: none;
  width: 49%;
}
.button-container .button-trigger {
  position: relative;
  z-index: 2;
  height: 50px;
  border: 1px solid #FFF;
}
.button-container .background {
  display: block;
  width: 100%;
  height: 103px;
  position: absolute;
  top: 0;
  z-index: 1;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.button-container:hover .button-top {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.button-container:hover .background {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

/* BLOCK Content */
.block-content {
  position: relative;
  margin: 0 auto;
  max-width: 1440px;
}

.block-full, .block-hero, .block-trail-hero__background {
  width: 100%;
  height: 100%;
}

.block-background, .block-hero, .block-feature, .block-watch__background, .block-trail-hero__background {
  background: no-repeat center center;
  background-size: cover;
}

.block-title,
.block-slider {
  display: inline-block;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-94px);
          transform: translateX(-94px);
  max-width: 600px;
}

.block-slider {
  display: block;
}

.block-image img {
  display: block;
  width: 100%;
}

.scroll-percentage {
  position: fixed;
  top: 0;
  left: 0;
  height: 3px;
  z-index: 1000;
}

@media screen and (max-width: 1279px) {
  .wrapper h2, .wrapper .h2,
  .wrapper h2.extra, .wrapper .h2.extra {
    font-size: 50px !important;
    line-height: 50px !important;
    letter-spacing: 2px;
  }

  .text {
    font-size: 16px !important;
    line-height: 20px !important;
  }

  .tagline {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0;
  }
}
@media screen and (max-width: 690px) {
  .button-container {
    width: 100%;
    max-width: 100%;
  }
}
.template__home {
  background: #443c27;
}
.template__loading {
  overflow-y: scroll;
}
.template__loading .header .menu,
.template__loading .header .logo,
.template__loading .header .btn-open-menu,
.template__loading .header .btn-open-master {
  opacity: 0;
}
.template__loading .block-hero {
  display: block;
}
.template__loading .block-hero__background {
  opacity: 0;
}
.template__loading .block-hero .loading__content {
  opacity: 1;
  z-index: 10;
}
.template__loading .block-hero .loading__content .block-title .tagline,
.template__loading .block-hero .loading__content .block-title h2.blue,
.template__loading .block-hero .loading__content .block-title h2 {
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}
.template__loading .block-hero .loading__content .block-title .tagline {
  -webkit-transition: opacity 0.2s linear, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.2s linear, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.2s linear, transform 0.3s ease-in-out;
  transition: opacity 0.2s linear, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.template__loading .block-hero .loading__content .block-title h2.blue {
  -webkit-transition: opacity 0.2s linear 0.1s, -webkit-transform 0.3s ease-in-out 0.1s;
  transition: opacity 0.2s linear 0.1s, -webkit-transform 0.3s ease-in-out 0.1s;
  transition: opacity 0.2s linear 0.1s, transform 0.3s ease-in-out 0.1s;
  transition: opacity 0.2s linear 0.1s, transform 0.3s ease-in-out 0.1s, -webkit-transform 0.3s ease-in-out 0.1s;
}
.template__loading .block-hero .loading__content .block-title h2 {
  -webkit-transition: opacity 0.2s linear 0.2s, -webkit-transform 0.3s ease-in-out 0.2s;
  transition: opacity 0.2s linear 0.2s, -webkit-transform 0.3s ease-in-out 0.2s;
  transition: opacity 0.2s linear 0.2s, transform 0.3s ease-in-out 0.2s;
  transition: opacity 0.2s linear 0.2s, transform 0.3s ease-in-out 0.2s, -webkit-transform 0.3s ease-in-out 0.2s;
}
.template__loading .block-hero .loading__content .block-title.visible .tagline,
.template__loading .block-hero .loading__content .block-title.visible h2.blue,
.template__loading .block-hero .loading__content .block-title.visible h2 {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.template__loading .block-hero .choice__content {
  opacity: 0;
  z-index: 1;
}
.template__loading .block-choice-mini,
.template__loading .block-feature,
.template__loading .block-watch,
.template__loading .block-trail-take,
.template__loading .block-find-venture,
.template__loading .background-choice,
.template__loading .footer {
  display: none;
}
.template__choice .header .menu,
.template__choice .header .logo,
.template__choice .header .btn-open-menu,
.template__choice .header .btn-open-master {
  opacity: 1;
}
.template__choice .block-hero {
  display: block;
}
.template__choice .block-hero__background {
  opacity: 1;
}
.template__choice .block-hero .loading__content {
  opacity: 0;
  z-index: 1;
}
.template__choice .block-hero .choice__content {
  opacity: 1;
  z-index: 10;
}
.template__choice .block-hero .choice__content .block-title h2.extra {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.template__choice .block-hero .choice__shoe .cover {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.template__choice .block-hero .choice__shoe-content__detail {
  opacity: 1;
}
.template__trail {
  background: #f8f8f8 url(../img/skin/bg-trail.png) repeat left top;
  background-size: 360px 360px;
}
.template__trail .header {
  position: absolute;
}
.template__trail .block-trail-take {
  background: rgba(204, 204, 204, 0.4);
}

@media screen and (max-width: 690px) {
  .template__choice .block-hero .loading__content {
    display: none;
  }
  .template__choice .block-hero .choice__content {
    display: block;
  }
  .template__trail .header .menu-cloudventure .btn-open-menu,
  .template__trail .header .menu-cloudventure .btn-open-master {
    position: absolute;
  }
}
.overlay-watch {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  z-index: -1;
  background: #000;
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
.overlay-watch.visible {
  height: 100%;
  z-index: 9999;
  opacity: 1;
}
.overlay-watch__iframe {
  position: relative;
  z-index: 1;
  background: #000;
}
.overlay-watch__close {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 2;
  padding: 15px;
  width: 15px;
  height: 15px;
  background: url(../img/skin/close-icon.png) no-repeat center center;
  background-size: 15px 15px;
}

.block-hero {
  min-height: 650px;
  overflow: hidden;
}
.block-hero__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/backgrounds/choice-waterproof.jpg) no-repeat center center;
  background-size: cover;
  opacity: 1;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.block-hero .svg-load {
  position: absolute;
  bottom: 50%;
  left: 0;
  -webkit-transform: translateY(18%);
          transform: translateY(18%);
  z-index: 1;
  opacity: 0.5;
  -webkit-transition: opacity 0.2s linear, bottom 0.7s linear, -webkit-transform 0.7s linear;
  transition: opacity 0.2s linear, bottom 0.7s linear, -webkit-transform 0.7s linear;
  transition: opacity 0.2s linear, bottom 0.7s linear, transform 0.7s linear;
  transition: opacity 0.2s linear, bottom 0.7s linear, transform 0.7s linear, -webkit-transform 0.7s linear;
}
.block-hero .svg-load.flat {
  bottom: 0;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.block-hero .block-content {
  width: 100%;
  height: 100%;
  z-index: 2;
  overflow: hidden;
  max-width: 1390px;
}
.block-hero .loading__content {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.block-hero .loading__content .block-title {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-94px, -50%);
          transform: translate(-94px, -50%);
  max-width: 520px;
}
.block-hero .loading__content .block-title .tagline {
  padding-left: 33px;
  margin-bottom: 20px;
  background: url(../img/skin/flag-swiss.png) no-repeat left top;
  background-size: 17px 17px;
}
.block-hero .loading__loader {
  position: absolute;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translateX(-94px);
          transform: translateX(-94px);
}
.block-hero .choice__content {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-250px);
          transform: translateY(-250px);
  height: 600px;
  width: 100%;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.block-hero .choice__content .block-title {
  max-width: 100%;
  opacity: 1;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  position: absolute;
  -webkit-transform: none;
          transform: none;
  right: 0;
  left: auto;
}
.block-hero .choice__content .block-title h2.extra {
  opacity: 0;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  -webkit-transition: opacity 0.2s linear 0.6s, -webkit-transform 0.3s ease-in-out 0.6s;
  transition: opacity 0.2s linear 0.6s, -webkit-transform 0.3s ease-in-out 0.6s;
  transition: opacity 0.2s linear 0.6s, transform 0.3s ease-in-out 0.6s;
  transition: opacity 0.2s linear 0.6s, transform 0.3s ease-in-out 0.6s, -webkit-transform 0.3s ease-in-out 0.6s;
}
.block-hero .choice__content .block-title h2.extra.blue {
  -webkit-transition: opacity 0.2s linear 0.5s, -webkit-transform 0.3s ease-in-out 0.5s;
  transition: opacity 0.2s linear 0.5s, -webkit-transform 0.3s ease-in-out 0.5s;
  transition: opacity 0.2s linear 0.5s, transform 0.3s ease-in-out 0.5s;
  transition: opacity 0.2s linear 0.5s, transform 0.3s ease-in-out 0.5s, -webkit-transform 0.3s ease-in-out 0.5s;
}
.block-hero .choice__shoe {
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.block-hero .choice__shoe.theme-cloudventure-midtop {
  left: 25%;
}
.block-hero .choice__shoe.theme-cloudventure-midtop .theme {
  color: #e37381;
}
.block-hero .choice__shoe.theme-cloudventure-midtop .choice__shoe-content__models img {
  float: none;
  display: block;
  margin: 0 auto;
}
.block-hero .choice__shoe.theme-cloudventure-waterproof {
  left: 50%;
  right: auto;
}
.block-hero .choice__shoe.theme-cloudventure-waterproof .theme {
  color: #81cfdb;
}
.block-hero .choice__shoe.theme-cloudventure-waterproof .choice__shoe-content__models img {
  float: none;
  display: block;
  margin: 0 auto;
}
.block-hero .choice__shoe.theme-cloudventure-waterproof .choice__shoe-content__title {
  left: auto;
  right: 0;
  max-width: 205%;
  width: auto;
  white-space: nowrap;
}
.block-hero .choice__shoe.theme-cloudventure-peak {
  left: auto;
  right: 0;
}
.block-hero .choice__shoe.theme-cloudventure-peak .theme {
  color: #f05222;
}
.block-hero .choice__shoe.theme-cloudventure-peak .choice__shoe-content__title {
  left: auto;
  right: 0;
  max-width: 205%;
  width: auto;
  white-space: nowrap;
}
.block-hero .choice__shoe.theme-cloudventure .theme {
  color: #e5e734;
}
.block-hero .choice__shoe-content__title {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.block-hero .choice__shoe-content__title span {
  display: block;
}
.block-hero .choice__shoe-content .cover {
  position: absolute;
  left: 12%;
  bottom: 220px;
  width: 76%;
  display: block;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  opacity: 0;
  -webkit-transition: opacity 0.2s linear 0.3s, width 0.3s ease-in-out, left 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out 0.3s;
  transition: opacity 0.2s linear 0.3s, width 0.3s ease-in-out, left 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out 0.3s;
  transition: transform 0.3s ease-in-out 0.3s, opacity 0.2s linear 0.3s, width 0.3s ease-in-out, left 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out 0.3s, opacity 0.2s linear 0.3s, width 0.3s ease-in-out, left 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out 0.3s;
}
.block-hero .choice__shoe-content__detail {
  position: absolute;
  bottom: 100px;
  left: 0;
  width: 100%;
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity 0.3s linear 0.8s;
  transition: opacity 0.3s linear 0.8s;
}
.block-hero .choice__shoe-content__detail span {
  display: block;
}
.block-hero .choice__shoe-content__detail span.h3 {
  margin-bottom: 5px;
}
.block-hero .choice__shoe-content__models {
  position: absolute;
  left: 15%;
  bottom: 100px;
  width: 70%;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.block-hero .choice__shoe-content__models img {
  width: 30%;
  margin-right: 3%;
  float: left;
}
.block-hero .choice__shoe .button {
  position: absolute;
  left: 15%;
  bottom: 0;
  width: 250px;
  text-align: left;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.block-hero.choice.over .choice__content .block-title {
  opacity: 0;
}
.block-hero.choice.over .choice__shoe {
  opacity: 0.5;
}
.block-hero.choice.over .svg-load {
  opacity: 0.2;
}
.block-hero.choice .choice__shoe:hover {
  opacity: 1 !important;
}
.block-hero.choice .choice__shoe:hover .cover {
  left: 9%;
  width: 82%;
}
.block-hero.choice .choice__shoe:hover .choice__shoe-content__title {
  opacity: 1;
}
.block-hero.choice .choice__shoe:hover .choice__shoe-content__detail {
  opacity: 0;
}
.block-hero.choice .choice__shoe:hover .choice__shoe-content__models {
  opacity: 1;
}
.block-hero.choice .choice__shoe:hover .button {
  opacity: 1;
}
.block-hero.choice .choice__shoe-content__detail {
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

@media screen and (max-width: 1439px) {
  .block-hero .block-content {
    max-width: 1240px;
  }
}
@media screen and (max-width: 1279px) {
  .block-hero .block-content {
    max-width: 984px;
  }
}
@media screen and (max-width: 1025px) {
  .block-hero {
    min-height: 100%;
  }
  .block-hero .choice__content {
    height: 540px;
    -webkit-transform: translateY(-220px);
            transform: translateY(-220px);
  }
  .block-hero .choice__shoe .cover {
    left: 15%;
    width: 70%;
  }
  .block-hero .choice__shoe .button {
    display: none;
  }
  .block-hero .choice__shoe-content__title, .block-hero .choice__shoe-content__models {
    display: none;
  }
  .block-hero.choice .choice__shoe:hover .choice__shoe-content__detail {
    opacity: 1;
  }
  .block-hero.choice.over .choice__content .block-title {
    opacity: 1;
  }
}
@media screen and (max-width: 1023px) {
  .block-hero .block-content {
    max-width: 650px;
  }
  .block-hero .choice__shoe .cover {
    left: 5%;
    width: 90%;
  }
  .block-hero.choice .choice__shoe:hover .cover {
    left: 5%;
    width: 90%;
  }
}
@media screen and (max-width: 690px) {
  .block-hero {
    min-height: initial;
    height: auto;
    position: relative;
  }
  .block-hero__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
  }
  .block-hero .block-content {
    max-height: initial;
    height: auto;
  }
  .block-hero .svg-load path {
    stroke-width: 2 !important;
  }
  .block-hero .loading__loader {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .block-hero .loading__loader .tagline {
    font-size: 16px;
    line-height: 20px;
  }
  .block-hero .loading__content .block-title {
    position: absolute;
    top: 50%;
    left: 5%;
    width: 90%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .block-hero .choice__content {
    position: static;
    top: auto;
    left: auto;
    -webkit-transform: none;
            transform: none;
    margin: 0 auto;
    width: 90%;
    height: auto;
  }
  .block-hero .choice__content .block-title {
    position: static;
    margin-top: 120px;
  }
  .block-hero .choice__content .block-title h2.extra {
    -webkit-transition: none;
    transition: none;
  }
  .block-hero .choice__content .block-title h2.extra.blue {
    -webkit-transition: none;
    transition: none;
  }
  .block-hero .choice__shoe {
    position: static;
    width: 100%;
    height: auto;
    margin-bottom: 40px;
  }
  .block-hero .choice__shoe .button {
    display: none;
  }
  .block-hero .choice__shoe-content__title, .block-hero .choice__shoe-content__models {
    display: none;
  }
  .block-hero .choice__shoe-content .cover {
    position: static;
    margin: 20px auto;
    -webkit-transition: none;
    transition: none;
  }
  .block-hero .choice__shoe-content__detail {
    position: static;
    -webkit-transition: none;
    transition: none;
  }
  .block-hero.choice.over .choice__content .block-title {
    opacity: 1;
  }
  .block-hero.choice.over .choice__shoe {
    opacity: 0.5;
  }
  .block-hero.choice.over .svg-load {
    opacity: 0.2;
  }
  .block-hero.choice .choice__shoe:hover .cover {
    left: auto;
  }

  .template__loading .block-hero {
    height: 100%;
  }
  .template__loading .block-hero .block-content {
    height: 100%;
  }
  .template__loading .block-hero .block-content .loading__content h2 {
    font-size: 40px !important;
    line-height: 40px !important;
    letter-spacing: 1px;
  }
}
.block-feature {
  display: none;
  background-attachment: fixed;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.block-feature.visible {
  display: block;
}
.block-feature canvas {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.block-feature .svg-feature {
  position: absolute;
  top: -1px;
  left: 0;
}
.block-feature .block-title .text,
.block-feature .block-slider .text {
  margin: 13px 0 30px 0;
}
.block-feature .block-title img.mobile-only,
.block-feature .block-slider img.mobile-only {
  display: none;
}
.block-feature .slider-tooltips {
  display: none;
}
.block-feature__tooltip {
  position: absolute;
  width: 150px;
  height: 150px;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.block-feature__tooltip.visible {
  opacity: 1;
}
.block-feature__tooltip__plus {
  display: block;
  position: absolute;
  top: 15px;
  left: 15px;
  width: 120px;
  height: 120px;
  background: rgba(54, 54, 54, 0.65) url(../img/skin/close-icon.png) no-repeat center center;
  background-size: 15px 15px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.block-feature__tooltip__image {
  position: absolute;
  display: block;
  width: 120px;
  height: 120px;
  z-index: 2;
  -webkit-transform: translate(15px, 15px) rotate(45deg);
          transform: translate(15px, 15px) rotate(45deg);
  overflow: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.block-feature__tooltip__bg {
  position: absolute;
  top: 0;
  display: block;
  width: 170px;
  height: 170px;
  -webkit-transform: translate(-30px, -25px) rotate(-45deg);
          transform: translate(-30px, -25px) rotate(-45deg);
  background-size: cover;
}
.block-feature__tooltip.right .block-feature__tooltip__content {
  right: auto;
  left: 75px;
}
.block-feature__tooltip.right .block-feature__tooltip__content-detail {
  padding: 20px 20px 20px 100px;
}
.block-feature__tooltip__content {
  position: absolute;
  z-index: 1;
  width: 392px;
  min-height: 110px;
  top: -10px;
  right: 75px;
  background: rgba(54, 54, 54, 0.8);
  overflow: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.block-feature__tooltip__content-detail {
  color: #FFF;
  padding: 20px 100px 20px 20px;
}
.block-feature__tooltip__content-detail__title {
  font-family: "DIN1451Com-Engschrift", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 25px;
}
.block-feature__tooltip__content-detail__description {
  font-family: "Helserif-Boo", serif;
  font-size: 16px;
  line-height: 20px;
}
.block-feature__tooltip:hover {
  z-index: 10;
}
.block-feature__tooltip:hover .block-feature__tooltip__image {
  opacity: 1;
}
.block-feature__tooltip:hover .block-feature__tooltip__content {
  opacity: 1;
}
.block-feature__grip {
  overflow: hidden;
  padding: 128px 0 55px;
}
.block-feature__grip .block-image {
  position: relative;
  margin: 0 auto 25px;
  max-width: 880px;
}
.block-feature__grip .svg-feature {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 1440px;
}
.block-feature__upper {
  position: relative;
  padding: 218px 0 115px;
}
.block-feature__upper .block-image {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-600px);
          transform: translateX(-600px);
  max-width: 450px;
}
.block-feature__upper .block-title {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-94px, -50%);
          transform: translate(-94px, -50%);
  max-width: 680px;
  margin-top: 50px;
}
.block-feature__cushioning {
  padding: 108px 0 69px;
}
.block-feature__cushioning .block-image {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-94px);
          transform: translateX(-94px);
  max-width: 630px;
  margin-bottom: 60px;
}
.block-feature__cushioning .block-title {
  max-width: 660px;
}

.theme-cloudventure-midtop .block-feature__cushioning .block-image {
  max-width: 720px;
  -webkit-transform: translateX(-160px);
          transform: translateX(-160px);
}

.has-touch .block-feature__tooltip {
  opacity: 1;
}

@media screen and (max-width: 1279px) {
  .block-feature__upper .block-image {
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
  }
  .block-feature__cushioning .block-image {
    margin: 0 auto 30px;
    left: auto;
    -webkit-transform: none;
            transform: none;
  }
  .block-feature__cushioning .block-title {
    max-width: 50%;
  }

  .theme-cloudventure-midtop .block-feature__cushioning .block-image {
    -webkit-transform: none;
            transform: none;
  }
}
@media screen and (max-width: 1023px) {
  .block-feature__grip .block-image {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  .block-feature__upper {
    padding: 118px 0 60px;
  }
  .block-feature__upper .block-title {
    -webkit-transform: translate(-40px, -50%);
            transform: translate(-40px, -50%);
  }
  .block-feature__upper .block-image {
    max-width: 320px;
    -webkit-transform: translateX(-350px);
            transform: translateX(-350px);
  }
}
@media screen and (max-width: 690px) {
  .block-feature .slider-tooltips {
    display: block;
  }
  .block-feature .block-image {
    display: none;
  }
  .block-feature .block-title,
  .block-feature .block-slider {
    display: block;
    position: static;
    max-width: 90%;
    -webkit-transform: none;
            transform: none;
    left: auto;
    margin: 0 auto;
  }
  .block-feature .block-title img.mobile-only,
  .block-feature .block-slider img.mobile-only {
    display: block;
    max-width: 100%;
    margin: 0 auto 30px;
  }
  .block-feature .block-slider {
    max-width: 100%;
    background: rgba(54, 54, 54, 0.5);
    padding-bottom: 55px;
  }
  .block-feature .block-slider .slick-slider .slick-list {
    overflow: visible;
  }
  .block-feature .block-slider .slick-prev,
  .block-feature .block-slider .slick-next {
    margin-top: 15px;
  }
  .block-feature .block-slider .slick-prev:before,
  .block-feature .block-slider .slick-next:before {
    color: #FFF;
  }
  .block-feature .block-slider .slick-dots {
    bottom: -25px;
  }
  .block-feature .block-slider .slick-dots li button {
    margin: 0 8px;
  }
  .block-feature .block-slider .slick-dots li button:before {
    border-radius: 0;
    border: none;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    background: #FFF;
    width: 8px;
    height: 8px;
  }
  .block-feature .block-slider__slide {
    color: #FFF;
    position: relative;
  }
  .block-feature .block-slider__slide__image {
    margin: 0 auto;
    width: 80px;
    height: 80px;
    background: #333;
    position: absolute;
    top: -40px;
    left: 50%;
    -webkit-transform: translateX(-50%) rotate(45deg);
            transform: translateX(-50%) rotate(45deg);
    overflow: hidden;
    border: 1px solid #e5e734;
  }
  .block-feature .block-slider__slide__bg {
    position: absolute;
    top: 0;
    display: block;
    width: 115px;
    height: 115px;
    -webkit-transform: translate(-18px, -18px) rotate(-45deg);
            transform: translate(-18px, -18px) rotate(-45deg);
    background-size: cover;
  }
  .block-feature .block-slider__slide__content {
    padding-top: 50px;
  }
  .block-feature .block-slider__slide__content-detail {
    width: 70%;
    margin: 20px auto 0;
  }
  .block-feature .block-slider__slide__content-detail__title {
    font-family: "DIN1451Com-Engschrift", sans-serif;
    font-size: 16px;
    line-height: 20px;
  }
  .block-feature .block-slider__slide__content-detail__description {
    font-family: "Helserif-Boo", serif;
    font-size: 12px;
    line-height: 15px;
  }
  .block-feature .block-slider .button-container {
    display: block;
    width: 90%;
    margin: -30px 5% 0;
  }
  .block-feature__grip {
    padding: 128px 0 0;
  }
  .block-feature__grip .block-title img.mobile-only {
    margin-bottom: 50px;
  }
  .block-feature__upper .svg-feature, .block-feature__cushioning .svg-feature {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .block-feature__upper .svg-feature {
    top: auto;
    bottom: 0;
    height: 50%;
    background-image: url(../img/skin/svg-upper.png);
  }
  .block-feature__cushioning .svg-feature {
    height: 80%;
    background-image: url(../img/skin/svg-cushioning.png);
  }
}
.block-watch {
  min-height: 450px;
  position: relative;
  overflow: hidden;
}
.block-watch__background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 700px;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.block-watch__guy {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../img/backgrounds/watch-guy.png) no-repeat center top;
  background-size: 286px 454px;
  -webkit-transform: translateY(280px);
          transform: translateY(280px);
}
.block-watch__title {
  position: absolute;
  top: 155px;
  left: 106px;
}
.block-watch .button {
  position: absolute;
  top: 220px;
  right: 106px;
}

.has-touch .block-watch__background {
  height: 450px;
  -webkit-transform: none;
          transform: none;
}
.has-touch .block-watch__guy {
  -webkit-transform: translateY(120px);
          transform: translateY(120px);
}

@media screen and (max-width: 1023px) {
  .has-touch .block-watch__background,
  .block-watch__background {
    -webkit-transform: none;
            transform: none;
  }
  .has-touch .block-watch__guy,
  .block-watch__guy {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  .has-touch .block-watch__title,
  .block-watch__title {
    top: 100px;
    left: 50px;
  }
  .has-touch .block-watch .button,
  .block-watch .button {
    top: 135px;
    right: 50px;
  }
}
@media screen and (max-width: 1023px) {
  .has-touch .block-watch__title,
  .block-watch__title {
    position: relative;
    -webkit-transform: none;
            transform: none;
    top: 135px;
    left: 5%;
  }
  .has-touch .block-watch .button,
  .block-watch .button {
    position: relative;
    -webkit-transform: none;
            transform: none;
    left: 5%;
    bottom: 5%;
    width: 90%;
  }
}
.block-find-venture {
  background: #2c2c2c url(../img/skin/bg-trail-50.png) repeat center center;
  background-size: 360px 360px;
  background-attachment: fixed;
  position: relative;
  z-index: 2;
  display: none;
}
.block-find-venture.visible {
  display: block;
}
.block-find-venture .block-content {
  min-height: 450px;
  overflow: hidden;
}
.block-find-venture__title {
  position: absolute;
  left: 106px;
  top: 170px;
}
.block-find-venture__buttons {
  position: absolute;
  right: 106px;
  top: 207px;
}
.block-find-venture__background {
  position: absolute;
  width: 100%;
  height: 120%;
  background: url(../img/backgrounds/shoe_promo.png) no-repeat center center;
  background-size: cover;
  -webkit-transform: translateY(5%);
          transform: translateY(5%);
}

.has-touch .block-find-venture__background {
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
}

@media screen and (max-width: 1023px) {
  .block-find-venture .block-content {
    min-height: 300px;
  }
  .block-find-venture__title {
    left: 50px;
    top: 100px;
  }
  .block-find-venture__buttons {
    right: 50px;
    top: 100px;
  }
  .block-find-venture__buttons .button {
    display: block;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 690px) {
  .block-find-venture__title {
    position: relative;
    top: 20px;
    left: 5%;
  }
  .block-find-venture__buttons {
    position: relative;
    top: auto;
    bottom: -40px;
    left: 5%;
    -webkit-transform: none;
            transform: none;
    width: 90%;
  }
}
.block-choice-mini {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1010;
  -webkit-transform: translate(110px, 25px);
          transform: translate(110px, 25px);
}
.block-choice-mini.is-fixed {
  position: fixed;
  top: 0;
}
.block-choice-mini__shoe {
  display: block;
  float: left;
  width: 90px;
  margin: 5px 30px 0 0;
  opacity: 0.5;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.block-choice-mini__shoe:nth-child(2) {
  margin-top: 0;
  width: 100px;
}
.block-choice-mini__shoe img {
  display: block;
  width: 100%;
}
.block-choice-mini__shoe .label {
  display: none;
}
.block-choice-mini__shoe.selected, .block-choice-mini__shoe:hover {
  opacity: 1;
}
.block-choice-mini__features {
  float: left;
  clear: both;
  margin-top: 20px;
  margin-left: -10px;
  overflow: hidden;
}
.block-choice-mini__feature {
  font-size: 20px;
  font-family: "DIN1451Com-Engschrift", sans-serif;
  text-transform: uppercase;
  display: block;
  float: left;
  position: relative;
  overflow: hidden;
  max-width: 0;
}
.block-choice-mini__feature:nth-child(2) {
  margin-left: 124px;
}
.block-choice-mini__feature:nth-child(3) {
  margin-left: 248px;
}
.block-choice-mini__feature:nth-child(4) {
  margin-left: 372px;
}
.block-choice-mini__feature a {
  display: block;
  margin-right: 20px;
  padding-left: 12px;
}
.block-choice-mini__feature.selected {
  max-width: 500px;
}
.block-choice-mini__feature.selected:before {
  content: "";
  display: block;
  position: absolute;
  left: 1px;
  top: 6px;
  width: 4px;
  height: 4px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.block-choice-mini:hover .block-choice-mini__feature {
  max-width: 500px;
}

.theme-cloudventure-midtop .block-choice-mini__feature.selected:before {
  background-color: #e37381;
}
.theme-cloudventure-midtop .block-choice-mini__feature.theme-cloudventure-peak, .theme-cloudventure-midtop .block-choice-mini__feature.theme-cloudventure, .theme-cloudventure-midtop .block-choice-mini__feature.theme-cloudventure-waterproof {
  display: none;
}

.theme-cloudventure-waterproof .block-choice-mini__feature.selected:before {
  background-color: #81cfdb;
}
.theme-cloudventure-waterproof .block-choice-mini__feature.theme-cloudventure-peak, .theme-cloudventure-waterproof .block-choice-mini__feature.theme-cloudventure-midtop, .theme-cloudventure-waterproof .block-choice-mini__feature.theme-cloudventure {
  display: none;
}

.theme-cloudventure-peak .block-choice-mini__feature.selected:before {
  background-color: #f05222;
}
.theme-cloudventure-peak .block-choice-mini__feature.theme-cloudventure-waterproof, .theme-cloudventure-peak .block-choice-mini__feature.theme-cloudventure-midtop, .theme-cloudventure-peak .block-choice-mini__feature.theme-cloudventure {
  display: none;
}

.theme-cloudventure .block-choice-mini__feature.selected:before {
  background-color: #e5e734;
}
.theme-cloudventure .block-choice-mini__feature.theme-cloudventure-peak, .theme-cloudventure .block-choice-mini__feature.theme-cloudventure-midtop, .theme-cloudventure .block-choice-mini__feature.theme-cloudventure-waterproof {
  display: none;
}

.background-choice {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background: rgba(54, 54, 54, 0.8);
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.background-choice.is-fixed {
  position: fixed;
  top: 0;
}
.background-choice.is-visible {
  z-index: 1009;
  opacity: 1;
}

@media screen and (max-width: 690px) {
  .block-choice-mini,
  .background-choice {
    display: none;
  }
}
.block-trail-take {
  min-height: 700px;
  background: #2c2c2c url(../img/skin/bg-trail-50.png) repeat center center;
  background-size: 360px 360px;
  background-attachment: fixed;
  box-sizing: initial;
}
.block-trail-take .block-content {
  z-index: 10;
}
.block-trail-take__title {
  position: absolute;
  top: 112px;
  left: 106px;
}
.block-trail-take__trails {
  padding-top: 170px;
  overflow: hidden;
}
.block-trail-take__trail {
  display: block;
  float: left;
  width: 25%;
  min-height: 530px;
  position: relative;
  overflow: hidden;
  background: no-repeat center center;
  background-size: cover;
}
.block-trail-take__trail span {
  display: block;
}
.block-trail-take__trail__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(20, 20, 20, 0.2);
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.block-trail-take__trail__text {
  position: relative;
  z-index: 2;
  padding: 300px 0 0 30%;
  max-width: 200px;
}
.block-trail-take__trail__text .h3 {
  line-height: 30px;
  margin-bottom: 5px;
  -webkit-transition: opacity 0.2s linear, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.2s linear, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, opacity 0.2s linear;
  transition: transform 0.3s ease-in-out, opacity 0.2s linear, -webkit-transform 0.3s ease-in-out;
}
.block-trail-take__trail__text .text {
  font-size: 16px;
  line-height: 20px;
  -webkit-transition: opacity 0.2s linear 0.1s, -webkit-transform 0.3s ease-in-out 0.1s;
  transition: opacity 0.2s linear 0.1s, -webkit-transform 0.3s ease-in-out 0.1s;
  transition: transform 0.3s ease-in-out 0.1s, opacity 0.2s linear 0.1s;
  transition: transform 0.3s ease-in-out 0.1s, opacity 0.2s linear 0.1s, -webkit-transform 0.3s ease-in-out 0.1s;
}
.block-trail-take__trail__text .h3,
.block-trail-take__trail__text .text {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}
.block-trail-take__trail__separator {
  position: absolute;
  top: 368px;
  left: 0;
  background: #FFF;
  width: 28%;
  height: 2px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.block-trail-take__trail__h3--over {
  top: 270px;
}
.block-trail-take__trail__text--over {
  top: 320px;
}
.block-trail-take__trail__h3--over.h3, .block-trail-take__trail__text--over.text {
  position: absolute;
  opacity: 0;
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
  -webkit-transition: opacity 0.2s linear, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.2s linear, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, opacity 0.2s linear;
  transition: transform 0.3s ease-in-out, opacity 0.2s linear, -webkit-transform 0.3s ease-in-out;
}
.block-trail-take__trail__text--over.text {
  -webkit-transition: opacity 0.2s linear 0.1s, -webkit-transform 0.3s ease-in-out 0.1s;
  transition: opacity 0.2s linear 0.1s, -webkit-transform 0.3s ease-in-out 0.1s;
  transition: transform 0.3s ease-in-out 0.1s, opacity 0.2s linear 0.1s;
  transition: transform 0.3s ease-in-out 0.1s, opacity 0.2s linear 0.1s, -webkit-transform 0.3s ease-in-out 0.1s;
}
.block-trail-take__trail:hover .block-trail-take__trail__background {
  opacity: 1;
}
.block-trail-take__trail:hover .block-trail-take__trail__separator {
  top: 302px;
  width: 100%;
}
.block-trail-take__trail:hover .block-trail-take__trail__text .h3,
.block-trail-take__trail:hover .block-trail-take__trail__text .text {
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
  opacity: 0;
}
.block-trail-take__trail:hover .block-trail-take__trail__h3--over.h3, .block-trail-take__trail:hover .block-trail-take__trail__text--over.text {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.lang__de .block-trail-take__trail__h3--over {
  margin-top: -30px;
}

@media screen and (max-width: 1279px) {
  .block-trail-take__trail__text {
    padding: 300px 0 0 20%;
  }
  .block-trail-take__trail__separator {
    width: 17%;
  }
}
@media screen and (max-width: 1100px) {
  .block-trail-take__trail__text {
    padding: 300px 0 0 25px;
  }
  .block-trail-take__trail__separator {
    width: 20px;
  }
}
@media screen and (max-width: 1023px) {
  .block-trail-take__title {
    top: 30px;
    left: 20px;
  }
  .block-trail-take__title h2 {
    font-size: 50px;
  }
  .block-trail-take__trails {
    padding-top: 70px;
  }
  .block-trail-take__trail {
    width: 50%;
  }
  .block-trail-take__trail__text {
    padding: 300px 0 0 20%;
  }
  .block-trail-take__trail__separator {
    width: 17%;
  }
}
@media screen and (max-width: 690px) {
  .block-trail-take__trail {
    min-height: 365px;
  }
  .block-trail-take__trail__separator {
    top: 206px;
  }
  .block-trail-take__trail__text {
    padding: 150px 0 0 20%;
  }
  .block-trail-take__trail__text .h3 {
    font-size: 20px;
    line-height: 25px;
  }
  .block-trail-take__trail__text .text {
    font-size: 12px;
    line-height: 15px;
  }
  .block-trail-take__trail__h3--over {
    top: 90px;
  }
  .block-trail-take__trail__text--over {
    top: 145px;
  }
  .block-trail-take__trail:hover .block-trail-take__trail__separator {
    top: 147px;
    width: 17%;
  }

  .lang__de .block-trail-take__trail__h3--over {
    margin-top: -10px;
  }
}
.block-trail-hero {
  position: relative;
  width: 100%;
  height: 100%;
}
.block-trail-hero__content {
  position: absolute;
  top: 18px;
  bottom: 18px;
  left: 20px;
  right: 20px;
  overflow: hidden;
}
.block-trail-hero__background {
  position: absolute;
  top: 0;
  left: 0;
  height: 110%;
}
.block-trail-hero__title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
.block-trail-hero__title h3 {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
}
.block-trail-hero__title h1 {
  letter-spacing: 10.5px;
  margin-bottom: 15px;
}
.block-trail-hero__title .text {
  font-size: 25px;
  line-height: 30px;
  margin: 0 auto;
  max-width: 740px;
}
.block-trail-hero__title .text .bold {
  white-space: nowrap;
  font-weight: 600;
  letter-spacing: 1px;
}
.block-trail-hero__title__separator {
  display: block;
  height: 1px;
  background: #FFF;
  margin: 14px auto 35px;
  max-width: 400px;
}

@media screen and (max-width: 1025px) {
  .block-trail-hero__title {
    width: 90%;
  }
}
@media screen and (max-width: 1023px) {
  .block-trail-hero__title h1 {
    font-size: 100px;
    line-height: 100px;
    letter-spacing: 2.5px;
  }
  .block-trail-hero__title h3 {
    font-size: 16px !important;
    line-height: 20px !important;
  }
  .block-trail-hero__title .text {
    font-size: 20px;
    line-height: 25px;
    max-width: 530px;
  }
}
@media screen and (max-width: 767px) {
  .block-trail-hero__title h1 {
    font-size: 50px !important;
    line-height: 50px !important;
  }
  .block-trail-hero__title .text {
    font-size: 16px !important;
    line-height: 20px !important;
  }
  .block-trail-hero__title__separator {
    max-width: 70%;
  }
}
.block-trail-content {
  font-family: "Helserif-Boo", serif;
  color: #777777;
}
.block-trail-content__author, .block-trail-content__promo {
  font-family: "DIN1451Com-Engschrift", sans-serif;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  overflow: hidden;
}
.block-trail-content__author {
  margin: 20px auto 50px;
  max-width: 1024px;
}
.block-trail-content__author__image {
  width: 188px;
  border-radius: 50%;
  overflow: hidden;
  float: left;
  margin-right: 20px;
}
.block-trail-content__author__image img {
  display: block;
  width: 100%;
}
.block-trail-content__author__details {
  margin: 50px 0 0 210px;
}
.block-trail-content__author__details__separator {
  max-width: 710px;
  background: #777777;
  height: 1px;
}
.block-trail-content__promo {
  max-width: 1206px;
  margin: 50px auto;
}
.block-trail-content__promo__image {
  width: 290px;
  max-width: 100%;
  overflow: hidden;
  float: left;
  margin-right: 20px;
}
.block-trail-content__promo__image img {
  display: block;
  width: 100%;
}
.block-trail-content__promo__details {
  margin: 25px 0 0 311px;
}
.block-trail-content__promo__details__button {
  color: #d75e5e;
  font-size: 20px;
  line-height: 30px;
}
.block-trail-content__promo__details__separator {
  max-width: 710px;
  background: #777777;
  height: 1px;
  margin: 10px 0;
}
.block-trail-content__quote {
  position: relative;
  margin: 65px auto;
  max-width: 1024px;
  font-family: "DIN1451Com-Engschrift", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #d75e5e;
  text-transform: uppercase;
}
.block-trail-content__quote:before {
  position: absolute;
  top: 0;
  left: -106px;
  display: block;
  width: 73px;
  height: 73px;
  content: "";
  background: url(../img/skin/trail-quote.png) no-repeat left top;
  background-size: 73px 73px;
}
.block-trail-content__paragraph {
  font-size: 25px;
  line-height: 30px;
  max-width: 800px;
  margin: 30px auto;
  color: #777777;
}
.block-trail-content__question {
  color: #999;
}

@media screen and (max-width: 1279px) {
  .block-trail-content__author, .block-trail-content__quote, .block-trail-content__promo {
    max-width: 800px;
  }
}
@media screen and (max-width: 1023px) {
  .block-trail-content__paragraph, .block-trail-content__author, .block-trail-content__quote {
    max-width: 650px;
  }
  .block-trail-content__paragraph {
    font-size: 20px;
    line-height: 25px;
  }
  .block-trail-content__quote:before {
    position: static;
    margin: 0 auto 20px;
  }
  .block-trail-content__promo {
    max-width: 422px;
  }
  .block-trail-content__promo__image {
    float: none;
    display: block;
    margin: 0 auto;
  }
  .block-trail-content__promo__details {
    margin: 25px 0 0;
  }
}
@media screen and (max-width: 690px) {
  .block-trail-content__paragraph, .block-trail-content__author, .block-trail-content__quote, .block-trail-content__promo {
    max-width: 100%;
    margin-left: 20px;
    margin-right: 20px;
  }
  .block-trail-content__author {
    font-size: 20px;
    line-height: 30px;
  }
  .block-trail-content__author__image {
    width: 95px;
  }
  .block-trail-content__author__details {
    margin: 0 0 0 110px;
  }
  .block-trail-content__quote {
    font-size: 35px;
    line-height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .block-trail-content__promo {
    margin: 20px;
  }
}
.block-trail-images {
  margin: 0 20px;
  overflow: hidden;
}
.block-trail-images img {
  display: block;
  width: 25%;
  float: left;
}

@media screen and (max-width: 1023px) {
  .block-trail-images {
    margin: 0;
  }
  .block-trail-images img {
    width: 50%;
  }
}
.block-trail-map__intro__content {
  margin: 60px auto 55px;
  max-width: 1024px;
  overflow: hidden;
  position: relative;
}
.block-trail-map__intro__content .text {
  color: #777777;
  font-size: 25px;
  line-height: 30px;
  max-width: 800px;
}
.block-trail-map__intro__stat {
  float: left;
}
.block-trail-map__intro__description {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: 0 0 0 210px;
}
.block-trail-map__map {
  position: relative;
  width: 100%;
  height: 3000px;
}
.block-trail-map__map.no-scroll {
  height: 100%;
}
.block-trail-map__map.has-touch {
  height: 100%;
}
.block-trail-map__map.has-touch .block-trail-map__map__miles__scroller .mile {
  height: 51px;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: none;
  transition: none;
}
.block-trail-map__map.no-miles .block-trail-map__map__miles {
  display: none;
}
.block-trail-map__map.no-miles .block-trail-map__map__path {
  left: 0;
}
.block-trail-map__map__container {
  position: relative;
  top: 0;
  width: 100%;
}
.block-trail-map__map__container.is-fixed {
  position: fixed;
}
.block-trail-map__map__container.is-bottomed {
  position: absolute;
  top: auto;
  bottom: 0;
}
.block-trail-map__map__miles {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 270px;
  background: #FFF;
}
.block-trail-map__map__miles__header {
  width: 100%;
}
.block-trail-map__map__miles__header img {
  display: block;
  margin: 30px 0 0 20px;
  width: 160px;
}
.block-trail-map__map__miles__scroller {
  position: absolute;
  top: 140px;
  bottom: 62px;
  width: 100%;
  background: url(../img/skin/bg-map-miles.png) repeat-y 72px 0;
}
.block-trail-map__map__miles__scroller .mile {
  background: url(../img/skin/bg-miles.png) repeat-y 70px 0;
  overflow: hidden;
  height: 0;
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: opacity 0.2s linear, -webkit-transform 0.2s linear;
  transition: opacity 0.2s linear, -webkit-transform 0.2s linear;
  transition: transform 0.2s linear, opacity 0.2s linear;
  transition: transform 0.2s linear, opacity 0.2s linear, -webkit-transform 0.2s linear;
}
.block-trail-map__map__miles__scroller .mile.visible {
  height: 51px;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.block-trail-map__map__miles__scroller .mile .mile-inside {
  position: relative;
  margin: 0 0 0 20px;
  font-family: "DIN1451Com-Engschrift", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
.block-trail-map__map__miles__scroller .mile .mile-inside .mile-title {
  color: #d75e5e;
}
.block-trail-map__map__miles__scroller .mile .mile-inside .mile-details {
  position: absolute;
  left: 73px;
  top: 0;
}
.block-trail-map__map__miles__scroller .mile .mile-inside .mile-details .label {
  color: #777777;
}
.block-trail-map__map__miles__scroller .mile .mile-inside .mile-details .value {
  color: #d75e5e;
}
.block-trail-map__map__miles__scroller__inside {
  position: relative;
  overflow-y: auto;
  height: 100%;
}
.block-trail-map__map__miles__promo {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 62px;
  background: #FFF;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #C9C9C9;
  font-family: "DIN1451Com-Engschrift", sans-serif;
}
.block-trail-map__map__miles__promo span,
.block-trail-map__map__miles__promo a {
  display: block;
  float: left;
}
.block-trail-map__map__miles__promo a {
  margin: 2px 0 0 5px;
}
.block-trail-map__map__miles__promo__inside {
  margin: 30px 0 0 20px;
}
.block-trail-map__map__miles__promo img {
  display: block;
  width: 63px;
}
.block-trail-map__map__path {
  position: absolute;
  left: 270px;
  top: 0;
  bottom: 0;
  right: 0;
  background: #EEE;
}
.block-trail-map__outro__content {
  position: relative;
  overflow: hidden;
  margin: 60px auto 45px;
  max-width: 1024px;
}
.block-trail-map__outro__title {
  font-size: 50px;
  line-height: 50px;
  text-transform: uppercase;
  color: #777777;
  font-family: "DIN1451Com-Engschrift", sans-serif;
  letter-spacing: 5.5px;
  position: absolute;
  left: 88px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  max-width: 300px;
}
.block-trail-map__outro__stats {
  float: right;
}
.block-trail-map__outro__stat {
  float: left;
  margin-right: 10px;
}
.block-trail-map__outro__stat:last-child {
  margin-right: 0;
}
.block-trail-map__outro .button {
  position: absolute;
  right: 25px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.block-stat {
  box-sizing: initial;
  width: 186px;
  height: 186px;
  border: 2px solid #d75e5e;
  border-radius: 50%;
  color: #d75e5e;
  text-align: center;
  text-transform: uppercase;
  font-family: "DIN1451Com-Engschrift", sans-serif;
  position: relative;
}
.block-stat__inside {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
}
.block-stat__number {
  font-size: 35px;
  margin-bottom: 6px;
}
.block-stat__label {
  font-size: 20px;
}

@media screen and (max-width: 1279px) {
  .block-trail-map__intro__content {
    max-width: 800px;
  }
  .block-trail-map__outro__content {
    max-width: 900px;
  }
  .block-trail-map__outro__title {
    left: 0;
  }
}
@media screen and (max-width: 1023px) {
  .block-trail-map__intro__content {
    text-align: center;
  }
  .block-trail-map__intro__content .text {
    position: static;
    margin: 25px auto 0;
    max-width: 650px;
    -webkit-transform: none;
            transform: none;
    text-align: left;
    font-size: 20px;
    line-height: 25px;
  }
  .block-trail-map__intro__stat {
    float: none;
    margin: 0 auto;
    text-align: center;
  }
  .block-trail-map__outro__stats {
    float: none;
    margin: 0 auto;
    text-align: center;
  }
  .block-trail-map__outro__title {
    position: static;
    text-align: center;
    -webkit-transform: none;
            transform: none;
    margin-bottom: 20px;
    max-width: 100%;
  }
  .block-trail-map__map__miles {
    left: 0;
    top: 0;
    width: 100%;
    height: 175px;
  }
  .block-trail-map__map__miles__scroller {
    top: 25px;
    left: 200px;
    bottom: 0;
    right: 0;
    width: auto;
    overflow-y: hidden;
    overflow-x: auto;
    background: none;
  }
  .block-trail-map__map__miles__scroller__inside {
    width: 0;
  }
  .block-trail-map__map__miles__scroller .mile {
    float: left;
    width: 142px;
    height: auto !important;
    background: none;
    border-top: 3px solid #d75e5e;
  }
  .block-trail-map__map__miles__scroller .mile .mile-inside {
    margin: 20px 0 0 0;
  }
  .block-trail-map__map__miles__scroller .mile .mile-inside .mile-details {
    position: static;
  }
  .block-trail-map__map__path {
    left: 0;
    top: 175px;
    bottom: 0;
  }
  .block-trail-map__map.no-miles .block-trail-map__map__path {
    top: 0;
  }

  .block-stat {
    float: none;
    display: inline-block;
  }
}
@media screen and (max-width: 690px) {
  .block-trail-map__intro__content {
    margin: 20px;
  }
  .block-trail-map__outro__title {
    margin: 0 20px 20px;
  }
  .block-trail-map__outro__stat {
    display: block;
    margin-right: auto !important;
    margin-left: auto;
    margin-bottom: 10px;
  }
  .block-trail-map__map__miles {
    height: 120px;
  }
  .block-trail-map__map__miles__header img {
    max-width: 120px;
  }
  .block-trail-map__map__miles__scroller {
    display: none;
  }
  .block-trail-map__map__miles__promo {
    top: 20px;
    right: 20px;
    left: auto;
    width: auto;
  }
  .block-trail-map__map__path {
    top: 120px;
  }
}
.ie .header-master {
  display: none;
}
.ie .header-master__open .header-master {
  display: block;
}
.ie .header .menu-cloudventure .menu a:after {
  background: none;
}
.ie .block-trail-take__trail__text {
  max-width: 300px;
}
.ie .block-stat {
  height: 180px;
}
