
/* themes */
.theme-cloudventure-peak {

	.theme,
	&.theme {
		color: $peak;

		a {
			color: $peak;
		}
	}
	.theme.scroll-percentage,
	.button .background,
	.button-container .background {
		background-color: $peak;
	}
	.button:hover {
		border-color: $peak;
		border-bottom-color: $peakDark;
	}
	.button-container:hover {
		.button-top {
			border-right-color: $peak;
			border-left-color: $peak;
			border-top-color: $peak;
			a {
				border-right-color: $peakDark;
			}
		}
		.button-trigger {
			border-right-color: $peak;
			border-left-color: $peak;

			border-top-color: $peakDark;
			border-bottom-color: $peakDark;
		}
	}
	.slick-dots .slick-active button:before {
		background-color: $peak !important;
	}
	.block-feature {
		.block-slider {
			&__slide {
				&__image {
					border-color: $peak;
				}
			}
		}
	}
}
.theme-cloudventure-waterproof {

	.theme,
	&.theme {
		color: $waterproof;

		a {
			color: $waterproof;
		}
	}
	.theme.scroll-percentage,
	.button .background,
	.button-container .background {
		background-color: $waterproof;
	}
	.button:hover {
		border-color: $waterproof;
		border-bottom-color: $waterproofDark;
	}
	.button-container:hover {
		.button-top {
			border-right-color: $waterproof;
			border-left-color: $waterproof;
			border-top-color: $waterproof;
			a {
				border-right-color: $waterproofDark;
			}
		}
		.button-trigger {
			border-right-color: $waterproof;
			border-left-color: $waterproof;

			border-top-color: $waterproofDark;
			border-bottom-color: $waterproofDark;
		}
	}
	.slick-dots .slick-active button:before {
		background-color: $waterproof !important;
	}
	.block-feature {
		.block-slider {
			&__slide {
				&__image {
					border-color: $waterproof;
				}
			}
		}
	}
}
.theme-cloudventure-midtop {

	.theme,
	&.theme {
		color: $midtop;

		a {
			color: $midtop;
		}
	}
	.theme.scroll-percentage,
	.button .background,
	.button-container .background {
		background-color: $midtop;
	}
	.button:hover {
		border-color: $midtop;
		border-bottom-color: $midtopDark;
	}
	.button-container:hover {
		.button-top {
			border-right-color: $midtop;
			border-left-color: $midtop;
			border-top-color: $midtop;
			a {
				border-right-color: $midtopDark;
			}
		}
		.button-trigger {
			border-right-color: $midtop;
			border-left-color: $midtop;

			border-top-color: $midtopDark;
			border-bottom-color: $midtopDark;
		}
	}
	.slick-dots .slick-active button:before {
		background-color: $midtop !important;
	}
	.block-feature {
		.block-slider {
			&__slide {
				&__image {
					border-color: $midtop;
				}
			}
		}
	}
}
.theme-cloudventure {
	.theme,
	&.theme {
		color: $venture;

		a {
			color: $venture;
		}
	}
	.theme.scroll-percentage,
	.button .background,
	.button-container .background {
		background-color: $venture;
	}
	.button:hover {
		border-color: $venture;
		border-bottom-color: $ventureDark;
	}
	.button-container:hover {
		.button-top {
			border-right-color: $venture;
			border-left-color: $venture;
			border-top-color: $venture;
			a {
				border-right-color: $ventureDark;
			}
		}
		.button-trigger {
			border-right-color: $venture;
			border-left-color: $venture;
			
			border-top-color: $ventureDark;
			border-bottom-color: $ventureDark;
		}
	}
	.slick-dots .slick-active button:before {
		background-color: $venture !important;
	}
	.block-feature {
		.block-slider {
			&__slide {
				&__image {
					border-color: $venture;
				}
			}
		}
	}
}

/* TITLES and TEXT */
.wrapper {
	h1,
	.h1 {
		font-size: 130px !important;
		line-height: 115px !important;
		text-transform: uppercase;
		color: #FFF;
		font-family: $titleFont !important;
		letter-spacing: $titleLetterSpacing;
	}
	h2,
	.h2 {
		font-family: $titleFont !important;
		font-size: $titleSize !important;
		color: $titleColor;
		text-transform: uppercase;
		letter-spacing: $titleLetterSpacing;

		&.blue,
		.blue {
			color: $blue;
		}

		&.extra {
			font-size: $extraTitleSize;
		}
	}

	h3,
	.h3 {
		font-family: $titleFont !important;
		font-size: 25px !important;
		color: $titleColor;
		text-transform: uppercase;
		letter-spacing: 1.9px;
	}
}

.copyright {
	font-size: 45%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
	top: -1em;
}


a {
	text-decoration: none;
}

.text {
	font-family: $textFont;
	font-size: 20px;
	line-height: 25px;
	color: $textColor;
}
.tagline {
	font-family: $titleFont;
	font-size: 16px;
	line-height: 20px;
	color: $titleColor;
	text-transform: uppercase;
	letter-spacing: 0.9px;
}


/* BUTTONS */
.button {
	box-sizing: initial;

	position: relative;
	display: inline-block;
	height: 50px;
	min-width: 250px;
	overflow: hidden;

	font-family: $titleFont;
	font-size: 20px;
	line-height: 25px;
	color: $textColor;
	text-transform: uppercase;
	text-decoration: none;

	border: 1px solid #FFF;
	transition: border-color 0.4s linear;

	.label {
		display: inline-block;
		padding: 16px 0 0 12px;
		position: relative;
		z-index: 2;
	}

	&-red {
		color: $red;
		border-color: $red;
		transition: border-color 0.4s linear, color 0.4s linear;

		.background {
			background-color: $red;
		}
		&:hover {
			color: #fff;
			border-bottom-color: $redDark !important;
		}
	}

	.background {
		
		display: block;
		width: 100%;
		height: 50px;
		
		position: absolute;
		top: 0;
		z-index: 1;

		transform: translateY(100%);
		transition: transform 0.2s ease-in-out;
	}

	&:hover {
		border-bottom-width: 2px;
		height: 49px;

		.background {
			transform: translateY(0);
		}
	}
}

.button-container {
	position: relative;
	display: inline-block;
	min-width: 250px;
	overflow: hidden;

	font-family: $titleFont;
	font-size: 20px;
	line-height: 25px;
	color: $textColor;
	text-transform: uppercase;
	text-decoration: none;
	text-align: left;

	margin-top: -50px;
	
	.label {
		display: inline-block;
		padding: 16px 0 0 12px;
		position: relative;
		z-index: 2;
		color: #FFF;
	}

	.button-top {
		position: relative;
		z-index: 2;

		height: 50px;
		overflow: hidden;
		border-left: 1px solid #FFF;
		border-right: 1px solid #FFF;
		border-top: 1px solid #FFF;

		opacity: 0;
		transform: translateY(50px);
		transition: transform 0.2s linear, opacity 0.2s linear;

		a {
			display: block;
			height: 50px;
			width: 50%;
			float: left;
			border-right: 1px solid #FFF;

			&:last-child {
				border-right: none;
				width: 49%;
			}
		}
	}
	.button-trigger {
		position: relative;
		z-index: 2;
		
		height: 50px;
		border: 1px solid #FFF;
	}

	.background {
		
		display: block;
		width: 100%;
		height: 103px;
		
		position: absolute;
		top: 0;
		z-index: 1;

		transform: translateY(100%);
		transition: transform 0.2s ease-in-out;
	}

	&:hover {
		.button-top {
			opacity: 1;
			transform: translateY(0);
		}
		.background {
			transform: translateY(0);
		}
	}

}

/* BLOCK Content */
.block-content {
	position: relative;
	margin: 0 auto;
	max-width: 1440px;
}

.block-full {
	width: 100%;
	height: 100%;
}

.block-background {
	background: no-repeat center center;
	background-size: cover;
}

.block-title,
.block-slider {
	display: inline-block;
	position: relative;
	left: 50%;
	transform: translateX(-94px);
	max-width: 600px;
}
.block-slider {
	display: block;
}
.block-image {
	img {
		display: block;
		width: 100%;
	}
}

.scroll-percentage {
	position: fixed;
	top: 0;
	left: 0;
	height: 3px;
	z-index: 1000;
}

@media screen and (max-width: 1279px) {

	.wrapper {
		h2, .h2,
		h2.extra, .h2.extra {
			font-size: 50px !important;
			line-height: 50px !important;
			letter-spacing: 2px;
		}
	}
	.text {
		font-size: 16px !important;
		line-height: 20px !important;
	}
	.tagline {
		font-size: 12px;
		line-height: 15px;
		letter-spacing: 0;
	}
}

@media screen and (max-width: 690px) {
	.button-container {
		width: 100%;
		max-width: 100%;
	}
}

