

@font-face {
  font-family: 'DIN1451Com-Engschrift';
  src: url('fonts/DIN1451Com-Engschrift.eot?#iefix') format('embedded-opentype'),  url('fonts/DIN1451Com-Engschrift.woff') format('woff'), url('fonts/DIN1451Com-Engschrift.ttf')  format('truetype'), url('fonts/DIN1451Com-Engschrift.svg#DIN1451Com-Engschrift') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helserif-Boo';
  src: url('fonts/Helserif-Boo.eot?#iefix') format('embedded-opentype'),  url('fonts/Helserif-Boo.otf')  format('opentype'),
	     url('fonts/Helserif-Boo.woff') format('woff'), url('fonts/Helserif-Boo.ttf')  format('truetype'), url('fonts/Helserif-Boo.svg#Helserif-Boo') format('svg');
  font-weight: normal;
  font-style: normal;
}
