
.footer {
	padding: 17px 19px 13px 20px;
	background: #3F3F3F;
	color: #FFF;
	overflow: hidden;
	position: relative;
	z-index: 3;

	span.tagline {
		float: left;
		margin-right: 10px;
	}

	.lang {
		float: left;
		overflow: hidden;

		li {
			display: block;
			margin-right: 5px;
			float: left;

			a {
				display: block;
				font-family: $titleFont;
				text-transform: uppercase;
				color: #FFF;

				font-size: 16px;
				line-height: 20px;
			}
		}
	}

	.footer__link-right {
		float: right;
	}
}

@media screen and (max-width:1279px) {
	.footer {
		.lang {
			li {
				margin-right: 10px;
				a {
					font-size: 12px;
					line-height: 15px;
				}
			}
		}
	}
}