
.header {
	
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 114px;
	z-index: 1000;

	.mobile-only {
		display: none;
	}
	
	.menu-cloudventure {

		position: absolute;
		width: 100%;
		height: 114px;
		background: url(../img/skin/menu-bg.png) repeat-x top left;
		background-size: 1px 114px;

		.logo {
			display: block;
			float: left;
			margin: 30px 0 0 40px;

			img {
				display: block;
				width: 50%;
			}
		}
		.menu {
			margin: 18px 40px 0 0;
			float: right;
			overflow: hidden;

			li {
				display: block;
				float: left;

				&:last-child {
					a {
						background: none;
					}
				}
				&.selected {
					a:before {
						transform: translateY(0);
						background-color: $red;
					}
				}
			}

			a {
				display: block;

				padding: 25px 20px;
				
				font-family: $titleFont;
				text-transform: uppercase;
				color: #FFF;
				background: url(../img/skin/menu-separator.png) no-repeat right center;
				background-size: 1px 16px;
				position: relative;
				
				&:before {
					content:"";
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 3px;
					background-color: #FFF;
					transform: translateY(-3px);
					transition: transform 0.15s linear;
				}
				&:hover:before {
					transform: translateY(0);
				}

				&.btn__header-master {
					&:before {
						content : none;
					}
					&:after {
						content: "";
						display: block;
						width: 15px;
						height: 11px;
						float: right;
						margin-left: 10px;
						margin-top: 1px;

						background: url(../img/skin/menu-arrow.png) no-repeat center center;
						background-size: 15px 11px;
						transform: rotate(0);
						transition: transform 0.3s ease-in-out;
					}
				}
			}
		}
	}
}

.header-master {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2000;
	font-family: $textFont;

	transform: translateY(-100%);
	transition: transform 0.3s ease-in-out;

	.quit-background {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(20, 20, 20, 0.6);
		opacity: 0;
		transition: opacity 0.3s linear;
	}
}

.header-master__open {
	// overflow: hidden;
	
	.header-master {
		transform: translateY(0);

		.quit-background {
			opacity: 1;
		}
	}
	.header {
		.menu-cloudventure {
			.menu {
				a.btn__header-master {
					&:after {
						transform: rotate(180deg);
					}
				}
			}
		}
	}
	.wrapper {
		margin-top: 70px;
	}
}

.template__trail {
	.header .menu-cloudventure {
		background-image: none;
	}
}

@media screen and (max-width: 1023px) {
	.header {
		&.menu-open {
			z-index: 2000;
			.menu-cloudventure {
				.menu,
				.btn-close-menu {
					display: block;
				}
				.btn-open-menu {
					display: none;
				}
				.logo {
					position: fixed;
				}
			}
		}

		.mobile-only {
			display: block;
		}

		.menu-cloudventure {
			
			.logo {
				position: relative;
				z-index: 1100;
			}
			.menu {
				display: none;
				
				position: fixed;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: rgba(51,51,51,0.95);
				z-index: 1090;

				margin: 0;
				padding: 100px 20px 0;

				li {
					float: none;
					border-bottom: 1px solid #333;

					a {
						background: none;
						font-size: 25px;
						line-height: 30px;

						&:before {
							// display: none;
							color: #FFF;
							content:"_ ";
							position: static;
							width: auto;
							height: auto;
							background-color: transparent !important;
							transform: none;
						}
					}

					&.desktop-only {
						display: none;
					}
				}
			}
			.btn-open-menu,
			.btn-close-menu {
				display: none;
				position: fixed;
				top: 28px;
				right: 23px;

				padding: 15px;
				z-index: 1100;
			}
			.btn-close-menu {
				width: 15px;
				height: 15px;
				background:url(../img/skin/close-icon.png) no-repeat center center;
				background-size: 15px 15px;
				top: 35px;
				right: 35px;
			}
			.btn-open-menu {
				display: block;
				width: 25px;
				height: 17px;
				background:url(../img/skin/burger-icon.png) no-repeat center center;
				background-size: 25px 17px;
				box-sizing: initial;
			}
			.btn-open-master {
				position: fixed;
				right: 80px;
				top: 40px;

				font-family: $titleFont;
				text-transform: uppercase;
				color: #fff;
				font-size: 16px;
				line-height: 20px;

				padding-top: 3px;
				padding-right: 15px;

				background: url(../img/skin/menu-separator.png) no-repeat right center;
				background-size: 1px 16px;

				&:after {
					content: "";
					display: block;
					width: 26px;
					height: 16px;
					float: right;
					margin-left: 10px;
					
					background: url(../img/skin/menu-arrow_mobile.png) no-repeat center center;
					background-size: 26px 16px;
					transform: rotate(0);
					transition: transform 0.3s ease-in-out;
				}
			}
		}
	}
}

@media screen and (max-width: 690px) {
	.header {
		.menu-cloudventure {	
			.btn-open-master {
				text-indent: -5000px;
				overflow: hidden;
			}
		}
	}
}
