
.ie {

	.header-master {
		display: none;
	}
	.header-master__open {
		.header-master {
			display: block;
		}
	}


	.header {
		.menu-cloudventure {
			.menu {
				a {
					&:after {
						background: none;
					}
				}
			}
		}
	}

	.block-trail-take {
		&__trail {
			&__text {
				max-width: 300px;
			}
		}
	}

	.block-stat {
		height: 180px;
	}
}