
.template {

	&__home {
		background: $brown;

		.block-hero {
			.loading__content {
				// display: none;
			}
			.choice__content {
				// display: block;
			}
		}
	}

	&__loading {

		overflow-y: scroll;

		.header .menu,
		.header .logo,
		.header .btn-open-menu,
		.header .btn-open-master {
			opacity: 0;
		}

		.block-hero {
			display: block;

			&__background {
				opacity: 0;
			}

			.loading__content {
				opacity: 1; 
				z-index: 10;

				.block-title {

					.tagline,
					h2.blue,
					h2 {
						opacity: 0;
						transform: translateY(50px);
					}
					
					.tagline {
						transition: opacity 0.2s linear, transform 0.3s ease-in-out;
					}
					h2.blue {
						transition: opacity 0.2s linear 0.1s, transform 0.3s ease-in-out 0.1s;
					}
					h2 {
						transition: opacity 0.2s linear 0.2s, transform 0.3s ease-in-out 0.2s;
					}

					&.visible {
						.tagline,
						h2.blue,
						h2 {
							opacity: 1;
							transform: translateY(0);
						}
					}
				}
			}
			.choice__content {
				opacity: 0;
				z-index: 1;
			}
		}

		.block-choice-mini,
		.block-feature,
		.block-watch,
		.block-trail-take,
		.block-find-venture,
		.background-choice,
		.footer {
			display: none;
		}
	}

	&__choice {
		.header .menu,
		.header .logo,
		.header .btn-open-menu,
		.header .btn-open-master {
			opacity: 1;
		}
		.block-hero {
			display: block;

			&__background {
				opacity: 1;
			}

			.loading__content {
				opacity: 0;
				z-index: 1;
			}
			.choice {
				&__content {
					opacity: 1;
					z-index: 10;

					.block-title {
						h2.extra {
							opacity: 1;
							transform: translateY(0);
						}
					}
				}

				&__shoe {
					.cover {
						opacity: 1;
						transform: translateY(0);
					}
					&-content__detail {
						opacity: 1;
					}
				}
			}
		}
	}

	&__trail {
		background: #f8f8f8 url(../img/skin/bg-trail.png) repeat left top;
		background-size: 360px 360px;

		.header {
			position: absolute;
		}

		.block-trail-take {
			background: rgba(204, 204, 204, 0.4);
		}
	}
}

@media screen and (max-width:690px) {
	.template { 
		&__choice {
			.block-hero {
				.loading__content {
					display: none;
				}
				.choice__content {
					display: block;
				}
			}
		}
		&__trail {
			.header {
				.menu-cloudventure {
					.btn-open-menu,
					.btn-open-master {
						position: absolute;
					}
				}
			}
		}
	}
}