
/* TITLE / TEXT */
$titleFont : 'DIN1451Com-Engschrift', sans-serif;
$titleSize : 69px;
$titleColor : #FFF;
$titleLetterSpacing : 5.5px;

$extraTitleSize : 75px;

$textFont : 'Helserif-Boo', serif;
$textColor: #FFF;

/* COLOURS */
$brown: #443c27;
$blue: #09b4ce;
$red: #d75e5e;
$grey: #777777;

$redDark: #964242;

$venture: #e5e734;
$midtop: #e37381;
$waterproof: #81cfdb;
$peak: #f05222;

$ventureDark: #a0a32e;
$midtopDark: #a32d4a;
$waterproofDark: #68a8b4;
$peakDark: #e44621;

/* GRID */
$unit: 84px;
$unitMargin: 20px;
