
.overlay-watch {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	z-index: -1;
	background: #000;
	// visibility: hidden;
	opacity: 0;

	transition: opacity 0.3s linear;

	&.visible {
		// visibility: visible;
		height: 100%;
		z-index: 9999;
		opacity: 1;
	}

	&__iframe {
		position: relative;
		z-index: 1;
		background: #000;
	}

	&__close {
		position: absolute;
		right: 10px;
		top: 10px;
		z-index: 2;

		padding: 15px;
		width: 15px;
		height: 15px;
		background:url(../img/skin/close-icon.png) no-repeat center center;
		background-size: 15px 15px;
	}
}